[2012-12-13 16:40] Hinton opened #1 "Implement $protected check in frontend controller."

[2012-12-13 17:11] #1 closed, assigned to nobody

[2012-12-14 11:23] curtisdelicata opened #2 "Kohana Environment switch"
Kohana Environment should be set to production if not on localhost. Should be set to development if on localhost.

Profiling and cache should be set depending on the environment.

[2012-12-14 11:24] curtisdelicata commented on #2
Fixed https://github.com/hinton/mg/commit/2e7634834408cdc1c33e3c3f6596da2c5ad8e2d7

[2012-12-14 11:24] #2 closed, assigned to curtisdelicata

[2012-12-15 01:36] Hinton opened #3 "Write test feature for register"
Should be good training for you to write a few test scenarios for user register.

There should be one that registers the user, and you validate it with a database check, and a bunch of validation errors, (duplicated username, email?, to short password).

For documentation regarding behat, check http://behat.org/.

[2012-12-15 16:10] #3 closed, assigned to curtisdelicata

[2012-12-20 13:20] Hinton opened #4 "Password reset"
Email a new password.

[2012-12-20 13:34] Hinton opened #5 "Timezone & date/time format localization options"

[2012-12-20 13:37] Hinton opened #6 "Honeypot registration"

[2012-12-20 13:43] Hinton opened #7 "Forum / PM spam checking"
It might be nice if we implement some sort of spam checking for forum and pm's, using https://akismet.com/, https://mollom.com/ or some other system. If just for a persons first 10 messages.

[2012-12-20 13:43] Hinton opened #8 "Search"
It should be possible to search for users, forum posts, news and more.

[2012-12-20 13:44] Hinton opened #9 "Permission"
Using some sort of ACL system.

[2012-12-20 14:10] #6 closed, assigned to nobody

[2012-12-20 14:55] curtisdelicata commented on #9
Are we going to use an existing system, modify or create a custom system?

[2012-12-20 15:17] curtisdelicata commented on #7
Looks interesting.

[2012-12-20 15:20] curtisdelicata commented on #9
Database or file based? Database would obviously be used still for roles so makes sense to check for a role level or will each role check be unique. Would there be a nother table for mapping roles to allowed functions

[2012-12-20 15:29] Hinton commented on #9
We should check existing acl systems for kohana, but database based sounds best if we want it to be easily changed.

[2012-12-21 20:52] curtisdelicata opened #10 "Pet - Create a member of a pet species in several colours"
You should be able to pick a pet and be able to choose the colour, race and gender.

[2012-12-21 20:53] curtisdelicata opened #11 "Pet - Adopt a member of a pet species in several colours"
You should be able to adopt a pet that is available. For now this will only be pets that have been abandoned by other users.

[2012-12-21 20:56] curtisdelicata opened #12 "Pet - Locked-down colours available only via a paintbrush"
Firstly to be able to change the colour of a pet. Secondly to be only be able to do so with an item.

[2012-12-21 20:59] curtisdelicata opened #13 "Pet - Hunger/happiness levels"
A pet should have hunger and happiness levels which gradually go down and are restored using items.

What should we use for lowering the hunger and/or happiness levels? Minion task?

[2012-12-21 21:00] curtisdelicata opened #14 "Pet - Pet profiles"
Pets should have a profile which includes the following as a minimum:

Image
Name
Gender
Race
Colour
Owner

[2012-12-21 21:01] curtisdelicata opened #15 "Pet - Abandon a member of a pet species"
You should also be able to abandon  a pet and it should be available for anyone else to adopt.

[2012-12-21 21:03] curtisdelicata opened #16 "Pet - Build a pet using body parts"
Too complicated for now. This issue is being created so that it does not get forgotten when we progress to other areas.

[2012-12-21 21:06] curtisdelicata opened #17 "Customisable user profiles"
Customisable user profiles. Firstly we should have completed user/view/id to show a basic profile of a user. Secondly they should contain information which the user can customise, for now maybe just an 'about me' box.

[2012-12-21 21:07] curtisdelicata opened #18 "Event notification"
For event notification we currently use Hint. Should we also look into keeping an event log? Or should we leave it as it is.

[2012-12-21 21:09] curtisdelicata opened #19 "Private Messaging with multiple recipients for a message"
Messaging needs to be completed.

Regarding multiple recipients, would it make sense to wait and use a form of private forum for this to work? Or should we duplicate messages to each receiver id? I believe the better way would be to have a form of private forum?

[2012-12-21 21:12] curtisdelicata commented on #4
What are the options on how to send mail? Should we use the built in commands or look into using other modules such as SwiftMailer.

[2012-12-21 21:12] Hinton commented on #18
We should split out parts, form errors can (should?) be done by a regular array that we display close to the inputs.
Hint should be used for notifications that should be displayed on the next page load, perfect for use after redirecting the user (login, logout, post message).

I presume with event notification you are refering to things such as your pet was attacked while you were offline or someo

[2012-12-21 21:14] curtisdelicata opened #20 "Timezone - add missing timezones"
To add all the missing timezones to the SQL.

http://en.wikipedia.org/wiki/List_of_time_zones_by_UTC_offset

[2012-12-21 21:15] Hinton commented on #19
We can leave this topic for later, the easiest solution would be to re-use parts of the form system and have topics you can invite persons to, not sure how much code we can share, and if we can use the same database tables.

It should be possible to use the same database tables, if we have a table "messages" with [id, owner, topic_id] and using has_many through.

[2012-12-21 21:18] Hinton commented on #20
We should try and keep the amount of timezones down, else we get a crazy large dropdown list, I found a nice array of timezones, http://stackoverflow.com/questions/4755704/php-timezone-list . Should be enought?

[2012-12-21 21:20] Hinton commented on #13
We should avoid using cron, it might be better to call a function whenever the pet is loaded that calculate how much the hunger/happiness level should lower (depending on last update time).

[2012-12-21 21:21] curtisdelicata commented on #20
I was not going to include them all. I was going to do one for each time. http://stackoverflow.com/questions/4755704/php-timezone-list is a better list, thanks I will add them tomorrow.

[2012-12-21 21:22] curtisdelicata commented on #13
We should use timestamps to check for updates?

Would we still use Cron or Minion  for site maintenance tasks?

[2012-12-21 21:24] Hinton commented on #13
Cron that calls minion sounds like a good idea.

Minion is command line interface to kohana, while cron is a time based job, 2 different things.

[2012-12-21 21:24] curtisdelicata commented on #13
and**

I meant to say Cron and Minion.

[2012-12-21 22:08] #11 closed, assigned to Lewis

[2012-12-21 22:08] #15 closed, assigned to Lewis

[2012-12-21 23:39] #10 closed, assigned to Lewis

[2012-12-22 16:05] curtisdelicata commented on #20
I have added the complete list. Closes #20

[2012-12-22 16:06] #20 closed, assigned to curtisdelicata

[2012-12-22 16:11] curtisdelicata opened #21 "Pagination"
We should have a class to use pagination for database results in the view.

[2012-12-22 16:24] curtisdelicata commented on #16
This shouldn't be in default Modular Gaming so I am closing this issue.

[2012-12-22 16:24] #16 closed, assigned to Lewis

[2012-12-22 16:25] curtisdelicata opened #22 "Admin - Basic admin panel"
Basic Admin panel. We will later create issues for  admin panel to have more features.

This may require #9 to be complete first if we are going to use ACL rather than just checking for roles that the user has.

[2012-12-22 16:34] curtisdelicata commented on #19
We will leave this for now until we have forum system working.

[2012-12-22 16:53] curtisdelicata opened #23 "Pet - Write feature tests"
Feature tests for Pet need to be written once Pet is complete.

[2012-12-22 17:21] curtisdelicata opened #24 "Custom error pages"
We should extend the HTTP_Exception_ classes for custom errors paged instead of the default error pages when in Production environment.

[2012-12-22 17:27] curtisdelicata commented on #24
http://kohanaframework.org/3.3/guide/kohana/tutorials/error-pages

Follow the above link but needs to be modified for Kostache.

[2012-12-23 12:12] curtisdelicata opened #25 "Messages icon only appears on messages page"
The icon with amount of messages only appears on the messages page. Should we add it to Base? Or should we remove the icon?

[2012-12-23 13:47] curtisdelicata commented on #9
Should this ticket now be closed since we have decided on Vendo/ACL?

[2012-12-23 13:50] #25 closed, assigned to nobody

[2012-12-23 14:29] curtisdelicata commented on #8
We should add the ability to search for users. The rest will need to be added when the features are available.

[2012-12-23 14:31] curtisdelicata commented on #5
This can now be closed?

[2012-12-23 14:33] curtisdelicata opened #26 "View a message"
You should be able to view a message and be able to reply (It should automatically fill in the receiver id).

[2012-12-23 14:35] Hinton commented on #5
We don't have an option for format yet, not sure if we should use a couple pre-sets along with custom formatting.

We should also try to detect the users country and guess the timezone from it?

[2012-12-23 14:37] Hinton commented on #26
We should wait until we have decided how we want messages to work so we wont have to re-code it later.

[2012-12-23 14:38] Hinton commented on #9
Yea

[2012-12-23 14:39] Hinton opened #27 "Email"
We need a way to email users, welcome email, password reset, notifications.

There are a few existing solutions, mostly wrappers around swift mailer.

[2012-12-23 14:43] curtisdelicata commented on #27
https://github.com/michal-m/kohana-modules-swiftmailer

[2012-12-23 14:43] curtisdelicata commented on #26
Good idea.Will close. Closes #26

[2012-12-23 14:43] #26 closed, assigned to nobody

[2012-12-23 14:45] curtisdelicata opened #28 "Messaging system"
Users should be able to view, delete, send and receive messages.

Should we wait until forum and use private topics for messaging? So that it will support multiple recipients.

[2012-12-23 14:46] curtisdelicata commented on #5
Should we try and detect the user's country on registration or on login? Or both?

[2012-12-23 14:47] Hinton commented on #5
Register, but that also means we should have timezone visible at register, so the user can manually override it if it detects the wrong timezone.

[2012-12-23 14:49] curtisdelicata commented on #19
Closed for now.

[2012-12-23 14:49] #19 closed, assigned to nobody

[2012-12-23 14:51] curtisdelicata commented on #27
https://github.com/digitaljohn/kohana-email

[2012-12-23 15:59] curtisdelicata commented on #4
Depends on #27

[2012-12-25 15:41] curtisdelicata commented on #21
What are the options?

Should we write from scratch or is there any existing modules we could use?

[2012-12-27 11:42] curtisdelicata opened #29 "Forum - View Categories, Threads and Posts"
View categories, topics and posts.

[2012-12-27 11:42] curtisdelicata opened #30 "Forum - Delete posts and threads"
Delete posts and threads which belong to you.

[2012-12-27 11:43] curtisdelicata opened #31 "Forum - Edit posts and threads"
To be able to edit posts and threads which belong to you.

[2012-12-27 11:44] curtisdelicata opened #32 "Forum - Avatars"
Avatars for users. This should be customisable in user profile or should we use Gravatar?

[2012-12-27 11:44] curtisdelicata opened #33 "Forum - Locked-down 'News' boards"
Admins start a thread and it shows up as a news item. Subsequent posts show as comments!

[2012-12-27 11:44] curtisdelicata opened #34 "Forum - Sticky/locked threads"

[2012-12-27 11:45] curtisdelicata opened #35 "Forum - HTML Editor"
Full power of HTML can be utilized for post mark-up - safely. A rich text editor is available to make adding flair to your post easy.

We could use HTML Purifier and TinyMCE? What are the options?

[2012-12-27 11:46] curtisdelicata opened #36 "Forum - Signatures"
User should have a customisable signature.

[2012-12-27 11:47] curtisdelicata opened #37 "Forum - Post counts"
User post counts should be shown on threads and posts.

[2012-12-27 11:48] curtisdelicata opened #38 "Forum - User titles"
Threads and posts should show the user title. Should this be their role?

[2012-12-27 11:49] curtisdelicata opened #39 "Forum - Create posts and threads"

[2012-12-27 11:50] curtisdelicata opened #40 "Explore system with zones"

[2012-12-27 11:55] curtisdelicata opened #41 "Pet - Battle system"
You can teach your pets unique abilities and attacks, and they will use these abilities when battling other pets. As they fight and win battles, your pets will gain experience and level up. Can equip items and body parts which give advantages and disadvantages.
pet trainer NPCs who will offer experience and achievements for your pets.

Pet stats will be required. They should be in a separate table

[2012-12-27 12:02] curtisdelicata commented on #41
We can keep this simple for Modular Gaming and extend it for Corepets.

[2012-12-27 12:28] curtisdelicata opened #42 "Inventory system"

[2012-12-27 12:29] curtisdelicata opened #43 "Inventory - Stacking items"
6 Oranges = one item entry

[2012-12-27 12:29] curtisdelicata opened #44 "Inventory - Item Types"
- [x] Food
- [x] Toys
- [x] Paintbrushes
- [x] Recipes

Stick to the above for Modular Gaming. Corepets will require body parts too.

[2012-12-27 12:30] curtisdelicata opened #45 "Inventory - NPC shops"
NPC shops with restocks

[2012-12-27 12:30] curtisdelicata opened #46 "Inventory - User shops"
- [x] Index
  - Upgrade the user shop's inventory size (if allowed by admin)
  - Update the shop's title and description
- [x] Create (charge a creation fee if it's set in the config)
- [x] Stock
  - Inventory: delete or modify item's price
- [ ] Logs
  - Collect the shop's earnings
- [x] View a shop
  - Buy an item

[2012-12-27 12:30] curtisdelicata opened #47 "Inventory - Crafting"
Create new items with recipes and ingredients
- [x] Admin page for managing recipes
- [x] Assign items as recipe
- [ ] Inventory cook-corner

[2012-12-27 12:31] curtisdelicata opened #48 "Inventory - Auction"
Auctions that users can create with bids

[2012-12-27 12:31] curtisdelicata opened #49 "Inventory - Trading"
Trading - be able to send and receive items

[2012-12-27 12:32] curtisdelicata opened #50 "Paypal IPN support"

[2012-12-27 12:34] curtisdelicata commented on #50
Paypal IPN support to automatically credit their account once money has been processed.

This may not be required for Modular Gaming. Maybe just implement the basics?

[2012-12-27 12:49] curtisdelicata commented on #18
I agree with you.

[2012-12-27 14:25] curtisdelicata commented on #35
http://jhollingworth.github.com/bootstrap-wysihtml5/

[2012-12-27 15:40] curtisdelicata commented on #35
http://xing.github.com/wysihtml5/

[2012-12-27 15:57] #29 closed, assigned to nobody

[2012-12-28 11:28] curtisdelicata commented on #21
https://github.com/dari88/Pagination-Module-for-kohana-3.3

[2012-12-28 11:29] curtisdelicata commented on #21
https://github.com/webking/kohana-pagination

[2012-12-28 11:29] curtisdelicata commented on #21
The last one seems the better option as it is based off the offical Kohana Pagination just modified to work with 3.3

[2012-12-28 12:12] curtisdelicata opened #51 "Conventions and Style document"
We should have a conventions and style document based off Kohana 3.3 Userguide.

[2012-12-28 12:12] #51 closed, assigned to nobody

[2012-12-29 11:14] curtisdelicata opened #52 "Javascript and CSS before function"
We need to be able to specify certain Javascript and CSS files only on certain pages. Can we do this using before function?

[2012-12-29 11:39] Hinton commented on #52
Do we really want that?

Considering that css and js gets cached after the first load.
We have my assets module, https://github.com/hinton/assets for minifying and combining css & js.

[2012-12-29 12:03] curtisdelicata commented on #52
I guess if they get cached after first load it would not matter if we load them on every page.

Assets module might be good.

[2012-12-29 16:01] curtisdelicata commented on #39
I cannot find a way to find the post users username. It is using the current logged in user which is wrong.

[2012-12-29 17:27] #14 closed, assigned to Lewis

[2012-12-29 20:00] Lewis commented on #35
I have added WYSIHTML5 for the forum and messages textareas. Should we allow HTML with something like HTML Purifier or should we parse BBCode?

[2012-12-30 11:00] curtisdelicata commented on #35
I think we should use HTML Purifier.

[2012-12-30 11:16] #39 closed, assigned to curtisdelicata

[2012-12-30 11:17] curtisdelicata commented on #35
At the moment it seems to be already filtering it. HTML Purifier would be best.

[2012-12-30 11:21] curtisdelicata commented on #35
http://forum.kohanaframework.org/discussion/480/html-purifier-why/p1

it seems that HTML Purifier has a lot of files. It must be cached so must not be too bad?

[2012-12-30 11:25] curtisdelicata commented on #35
http://forum.kohanaframework.org/discussion/11260/html-purifier-xss-proper-handling/p1

" If you use something like KOstache, it does this automatically for you."

[2012-12-30 13:38] #52 closed, assigned to Hinton

[2012-12-30 15:52] curtisdelicata opened #53 "Admin - Creating/editing/deleting pet species"

[2012-12-30 15:52] curtisdelicata opened #54 "Admin - Creating/editing/deleting pet colours"

[2012-12-30 15:58] curtisdelicata commented on #41
Should be able to battle another pet, random pet or NPC.

[2012-12-30 17:05] curtisdelicata opened #55 "Admin - Creating/editing/deleting pets"

[2012-12-30 17:06] curtisdelicata opened #56 "Admin - Creating/editing/deleting forum categories/topics/posts"

[2012-12-30 17:06] curtisdelicata opened #57 "Admin - Creating/editing/deleting items"
- [x] Item command autocompleters
  - Recipe
  - Pet color
  - Pet specie
- [x] Item command validation
- [ ] Redo Item recipe validation
- [x] Bug: opening modal from search says creating
- [x] Bug: deleting from modal fails

[2012-12-30 17:06] curtisdelicata opened #58 "Admin - Creating/editing/deleting shops"

[2012-12-30 17:07] curtisdelicata opened #59 "Admin - Creating/editing/deleting npc"

[2012-12-30 17:07] curtisdelicata opened #60 "Admin - Creating/editing/deleting item recipes"

[2012-12-30 17:11] curtisdelicata opened #61 "Admin - Creating/editing/deleting user shops"

[2012-12-30 17:11] curtisdelicata opened #62 "Admin - Creating/editing/deleting explore zones"

[2012-12-31 12:45] Hinton commented on #42
Content of our discussion:

**Items table**
- id
- name
- description
- category_id
- data

**shop_items**
- store_id
- item_id
- quantity

**item_crafting**
- id
- name
- description
- required_items
- generated_item

Example format of **data** column in items_table:

[code]

**Item class:** (extend it)

[code]

This format will allow a single item to run multiple items actions.

[2012-12-31 18:54] #35 closed, assigned to nobody

[2013-01-01 11:09] curtisdelicata commented on #27
I have forked Kohana Email. Created new branch 3.3/master and updated SwiftMailer. I will add the submodule now.

[2013-01-01 11:09] curtisdelicata commented on #27
https://github.com/modulargaming/email

[2013-01-01 12:42] curtisdelicata commented on #21
I have forked the offical Kohana Pagination and Kostache Pagination Helper.

I have updated both for 3.3 but there still seems to be errors to fix.

https://github.com/modulargaming/kostache-pagination-helper
https://github.com/modulargaming/pagination

[2013-01-02 13:37] #31 closed, assigned to nobody

[2013-01-03 00:57] Hinton commented on #36
Closed with 5ab3f43443569b25df144ab3160a9d4ba8a1a9d0

[2013-01-03 00:57] #36 closed, assigned to nobody

[2013-01-03 14:48] Hinton commented on #37
The best way to manage this would be a post_count field in the user table that gets added one per post. We might also want to subtract if a post is removed and have a recalculate feature.

[2013-01-03 14:49] Hinton commented on #38
How do we want to display user titles, should it be an image, text?

[2013-01-03 15:51] curtisdelicata commented on #38
Text is fine.

[2013-01-03 15:57] curtisdelicata commented on #37
What about caching a count using find_all on forum_posts where user_id= poster_id?

[2013-01-03 16:04] curtisdelicata commented on #30
Should delete posts and threads be only available to admin/moderators?

[2013-01-03 16:10] Hinton commented on #37
How would we cache it?
We could have a recalculate function that we run every time we add/remove a users posts, might be better than adding/subtracting.

[2013-01-03 16:13] curtisdelicata commented on #37
Recalculate function sounds ok.

How do other forum software calculate it? E.g. PHPBB

[2013-01-03 17:12] #37 closed, assigned to nobody

[2013-01-03 17:15] #30 closed, assigned to nobody

[2013-01-03 17:40] curtisdelicata commented on #27
I have tested with:

 $email = Email::factory('Hello, World', 'This is my body, it is nice.')
    ->to('person@example.com')
    ->from('you@example.com', 'My Name')
    ->send();

It successfully sent me an email

[2013-01-03 17:40] #27 closed, assigned to nobody

[2013-01-03 17:44] curtisdelicata commented on #23
Not needed for 1.0.0 milestone.

[2013-01-03 17:44] #23 closed, assigned to Lewis

[2013-01-03 17:46] curtisdelicata commented on #4
Email works. This can now be worked on.

[2013-01-03 18:09] curtisdelicata opened #63 "Email for registration should use Kostache"

[2013-01-03 19:38] Lewis opened #64 "Forum - Polls"
Topics should be able to have a poll added to it.

[2013-01-03 19:51] #32 closed, assigned to nobody

[2013-01-03 23:02] Hinton commented on #8
I was thinking about how to deal with searching, we got 3 methods.
1. Use lucene, https://lucene.apache.org/solr/
2. Use mysql fulltext search
3. Use sql like.

Lucene should give best performance by far but requires running a standalone java application.
Mysql fulltext requires quite a few indexes and has quite large memory usage on large tables, and the tables has to be MyISAM.
Sql like is slow.

[2013-01-04 10:32] curtisdelicata commented on #8
Do we really want to have to run a standalone java application?

We want to use InnoDB? So MySQL fulltext is not an option.

How slow is SQL like compared to Lucene?

[2013-01-04 10:35] curtisdelicata commented on #56
Topics and posts can be created, edited and deleted.

We just need an admin to be able to create,edit and delete categories.

[2013-01-04 10:46] Hinton commented on #8
SQL like is way slower than Lucene, we could start with sql like as it will be enough for most sites and move to Lucene once/if we need to.

[2013-01-04 10:54] curtisdelicata opened #65 "Forum - Private topics"
We should have support for private topics. We could reuse this code for messaging.

[2013-01-04 13:44] curtisdelicata commented on #8
On 04/01/13 10:46, Oscar Hinton wrote:

[2013-01-04 13:45] Hinton commented on #8
It has a php version but its much slower than the java version.

[2013-01-04 14:01] curtisdelicata commented on #8
We should stick using SQL like for now then.

[2013-01-04 14:07] curtisdelicata commented on #33
Should we use a policy to do this?

Policy_Forum_Topic_Create

if category = locked {

if role = admin { return true; }
 else {return false;}

}

if category = unlocked
{
return true
}

[2013-01-04 14:08] curtisdelicata commented on #34
Should we use a policy to do this?

Policy_Forum_Topic_Create

if topic = locked {

if role = admin { return true; }
else {return false;}

}

if topic = unlocked
{
return true
}

[2013-01-04 14:08] Hinton commented on #33
Yep, this should belong to the policy.

[2013-01-05 02:02] #34 closed, assigned to nobody

[2013-01-05 02:24] #33 closed, assigned to nobody

[2013-01-05 11:53] curtisdelicata commented on #64
We should use a new table forum_polls for this?

[2013-01-05 12:12] curtisdelicata opened #66 "Groups"
We should have a system where people can join groups.

Would be similar to clans, guilds etc

[2013-01-05 12:16] #18 closed, assigned to nobody

[2013-01-05 12:16] curtisdelicata opened #67 "Log Notification System"
We should have an event log. Things such as your pet was attacked while you were off line or someone bought an item from your shop.

[2013-01-05 14:09] curtisdelicata opened #68 "Merge with MG"

[2013-01-05 14:09] curtisdelicata commented on #68
Merge

[2013-01-05 14:09] #68 closed, assigned to nobody

[2013-01-05 14:11] curtisdelicata commented on #68
Merged the wrong way by mistake.

[2013-01-05 17:43] #17 closed, assigned to nobody

[2013-01-05 18:24] Lewis opened #69 "User avatar upload"
Users should upload an avatar instead of entering a URL.

[2013-01-05 21:39] #69 closed, assigned to nobody

[2013-01-06 11:10] curtisdelicata commented on #28
This needs to be rewritten? Should we use private topics with the existing forum code?

[2013-01-06 11:26] curtisdelicata opened #70 "Event system"
We need a way to only use certain code if a module is loaded.

Example is the pets on user profile. They should only be displayed if the pet module is enabled.

[2013-01-06 11:33] curtisdelicata opened #71 "Dashboard"
Should Dashboard look like the user profile?

Or should we redirect dashboard to user/view/$current_user

Or should we merge profile and settings?

[2013-01-06 11:35] curtisdelicata commented on #28
May depend on #65

[2013-01-06 11:47] #63 closed, assigned to Hinton

[2013-01-06 15:53] Lewis commented on #71
I think it should be the same as other users' profiles.

[2013-01-06 15:55] Hinton commented on #71
/user/ should redirect to the current logged in user. (/user/view/id)

Welcome should be split into 2 parts, one for logged out users and one for logged in.
The logged in should be the dashboard and show a user his notifications, pets, forum posts or whatever is important.

[2013-01-06 16:04] curtisdelicata commented on #71
I think I have confused you all with the way I wrote it. I meant should the profile link redirect to the standard user/view

Dashboard needs to be the default page for logged in users.

[2013-01-06 16:12] curtisdelicata commented on #71
I changed the profile link on the drop down to go to /user/view/user_id

I have left /user as the Dashboard. Should /user be the default logged in page?

[2013-01-06 17:10] curtisdelicata commented on #70
Maybe better if pets module contains the code and it is automatically loaded on user profile page.

[2013-01-06 18:18] Lewis commented on #70
How would that work?

[2013-01-06 18:22] Hinton commented on #70
There are a bunch of event modules available for kohana.

But a typical workflow would be to inside user profile we call an event and pass along an array with tabs, a module could then add a "Tab" class instance by adding a hook to the event.

And in the view we render the tabs by looping them and calling render, or something along that?

[2013-01-07 11:20] curtisdelicata commented on #38
User titles won't display, I am unsure why. Please can someone take a look.

[2013-01-07 11:23] curtisdelicata commented on #38
I forgot to update the old user account to have a title_id

It works as expected. Closing issue.

[2013-01-07 11:23] #38 closed, assigned to nobody

[2013-01-07 11:36] curtisdelicata commented on #70
That sounds like how we should do it. What are our options for event modules?

https://github.com/thinkclay/Kohana-Event-Module - I think this should work if we rename the files for Kohana 3.3
https://github.com/samsoir/kohana-event - I am unsure if it will work correctly.

Are there any others available?

[2013-01-07 13:38] #71 closed, assigned to nobody

[2013-01-07 13:59] curtisdelicata opened #72 "Users online"
There should be a list of users online. Maybe a link in the footer.

[2013-01-08 10:23] curtisdelicata commented on #64
I've pulled the recent changes but I get an error:

The requested URL forum/topic/1/poll was not found on this server.

[2013-01-08 11:22] curtisdelicata commented on #28
We should use private topics which are in a private category 'messages'.

This way we can handle multiple recipients and you can add new members to the private topic. Messaging should show the private topics you are subscribed to.

[2013-01-08 11:51] curtisdelicata opened #73 "Forum - Private categories"
We should have private categories for moderators and admins.

[2013-01-08 12:29] curtisdelicata commented on #28
Might make more sense for messages to be in category 0? Separate table for users which are in the conversation.

Regardless of how we implement it, messages should be threaded and show message history and you should be able to have multiple recipients.

We need to decide on how messages should work. Please discuss.

[2013-01-08 14:11] curtisdelicata commented on #67
It should be a function like bread crumbs so we can do Log::add('Description')

[2013-01-08 15:19] curtisdelicata commented on #70
https://github.com/BRMatt/Kohana-Dispatcher
https://github.com/Zeelot/event
https://github.com/ollym/event

[2013-01-08 15:28] curtisdelicata commented on #70
https://github.com/modulargaming/event

[2013-01-08 15:39] #22 closed, assigned to nobody

[2013-01-08 15:39] curtisdelicata opened #74 "Admin - creating, editing and deleting users and their roles"
Should be able to manage the roles a user has.

[2013-01-08 15:41] curtisdelicata opened #75 "Admin - creating/editing/deleting roles"

[2013-01-09 10:36] curtisdelicata commented on #70
I believe we should use https://github.com/modulargaming/event as it is simple and works with Kohana 3.3 without changes. I am open to other options.

Please discuss what you think about this.

[2013-01-09 18:35] happyDemon opened #76 "Modular gaming - specific module folder proposal"
Hey all,

I just got on board, Curtis was nice enough to add me, I'm Maxim Kerstens, I used to go by Zenk0 (helped out here and there with the old MG).

I'll introduce myself personally soon, but for now I had a small proposal I would like to discuss with you.

I see that you guys are putting the Modular gaming -specific modules in APPATH/modules,

If we're following Kohana's naming conventions I

[2013-01-09 18:42] happyDemon commented on #76
I went ahead and created a new branch to show you the implementation, it's minor and could be easily merged or deleted depending on the response.
https://github.com/hinton/mg/tree/proposal-dir

[2013-01-09 18:49] curtisdelicata commented on #76
I did not know about Kohana's naming conventions said that application/modules is wrong.

Do you mean that we should move everything under application to DOCROOT/modular_gaming

I agree with your proposal, ask Oscar and if he agrees then please proceed with merging.

[2013-01-09 18:49] Hinton commented on #76
Hmm, that's one way to solve it, I was considering creating a Kohana folder and place system and Kohana modules in it while keeping modules for mg related code.

Not sure what approach would be best, it makes sense to keep our "libs" (Kohana & Kohana modules) in a seperate directory.

It seems like you changed base_url in the branch, it should automatically have detect the correct url.

[2013-01-09 18:52] curtisdelicata commented on #76
What about a directory called framework?

[2013-01-09 18:53] curtisdelicata commented on #76
Actually modular_gaming is probably more obvious?

[2013-01-09 18:54] Hinton commented on #76
Framework would be confusing, might be best to go with @happyDemon suggestion.

[2013-01-09 18:56] happyDemon commented on #76
I know, I just made a commit to fix it.

@hinton you're suggesting a dir structure like this:

DOCROOT/
-application
-assets
-modular_gaming
-kohana/
--system
--modules

That would be easy enough & even less clutter

It's easy to change in DOCROOT/index.php

[2013-01-09 19:03] curtisdelicata commented on #76
@happyDemon I agree with your suggested directory layout. However I am unsure if we should move system and modules yet.

[2013-01-09 19:08] curtisdelicata commented on #76
what about using modules/modulargaming
modules/modulargaming/core
modules/modulargaming/forum etc

[2013-01-09 19:51] Hinton commented on #76
@curtisdelicata Well while it would work you wont get as much separation and it's slightly confusing. Where would third party MG modules go?

Technically they should be in modules/modulargaming but they aren't actually a part of our core packages.

Oh and welcome aboard @happyDemon, forgot to say hi before.

[2013-01-09 20:07] Lewis commented on #64
I haven't added any controllers or views for polls yet.

[2013-01-09 20:33] happyDemon commented on #28
Maybe we should add a 'report message' feature, so moderators get notified of any mishaps when messaging.

I think it might also be best that we implement a soft-delete, meaning it won't show up for the users, but moderators would still have access to it. A cron could be run to delete X months old deleted messages.

[2013-01-09 20:34] Hinton commented on #28
If I remember correctly we had soft delete in the old modulargaming, not quite sure how we implemented, report message feature seems like a good idea.

[2013-01-09 20:53] happyDemon commented on #42
I've currently have this structure down

_items_
- id
- item_type_id
- name
- description
- image
- status (draft|released|retired)
- unique //if the user can only have on copy of this item
- transferable  //if the user is able to send the item to other users
- command //contains data that will be used when consuming an item

_item_types_
- id
- name
- action //the text displayed to consume the it

[2013-01-09 21:03] happyDemon commented on #42
For crafting I'd recomend a small change in DB structure
_item_recipes_
- id
- name
- description
- crafted_item_id

has_many through:
_item_recipe_requireds_
- item_recipe_id
- item_id

[2013-01-09 21:08] Hinton commented on #42
Hmm, seems like a good structure, maybe the command classes should be called Item_Action_\* or Item_Command_*.

In the forum we use topic_id rather than forum_topic_id, perhaps we should use type_id rather than item_type_id.
item_type_id is more detailed, but I don't think it's easy to confuse if we only use type_id.

[2013-01-09 21:16] happyDemon commented on #42
It's a naming convention used by the ORM in its relations in other words it would be looking for the primary key of item_types table, but changing it wouldn't be a problem ^^

You're 100% right on the item action/commands name, they'd need to be put in a proper dir, let's go with Command?

[2013-01-09 21:20] Hinton commented on #42
Command sounds fine. What would default_command be used for? And should parameter be parameters in user_items, in case we want to store multiple parameters (using json or has_many).

[2013-01-09 21:39] happyDemon commented on #70
@curtisdelicata the one you cloned wouldn't be optimal to register several events to a handler, that one just registers an event that will be executed lateron.

I quite like laravel's Event handler (https://github.com/laravel/laravel/blob/master/laravel/event.php - http://laravel.com/docs/events).

the profile controller code could have something like:

[code]

The pet module's init.php would have

[2013-01-09 21:48] happyDemon commented on #70
it just returns the first element of an array (http://laravel.com/api/function-head.html)

[2013-01-09 21:49] Hinton commented on #70
Hmm, seems to be a better alternative than the Kohana version, it doesn't seem to be hard to port either, as it only depends on one laravel specific function.

Edit: Accidentally deleted the message.

[2013-01-09 21:51] happyDemon commented on #70
we'd just have to rename the head function to reset and that's it to port it over, simple as pie

[2013-01-09 21:51] Hinton commented on #70
The only disadvantage I can see is if a module would want to edit another modules tab somehow, as it no longer have direct access to all tabs compared to the Kohana version where you are forced to send the data as an parameter.

[2013-01-09 21:54] happyDemon commented on #70
it would be easy enough to just check the tab_title property when processing the results, no? if we've already got the tab_title property in a list, wouldn't want to change its result with something that came later (or the other way around)

or add a data object as argument, that stores this, no output would be needed anymore.

With data object I would imagine a Tab class where you would add your

[2013-01-09 22:19] happyDemon commented on #8
There's always a possibility to release a side module later on that would overwrite the default search behaviour (with HMVC it shouldn't be hard to do). Or make the search in to a helper, use a config file to decide on its behaviour.

[2013-01-09 22:26] Hinton commented on #8
It should be possible to use a search class with drivers similar to how config does it, was mostly wondering how we should code it for the first release.

[2013-01-10 09:10] curtisdelicata commented on #76
Other modules use hyphens instead of underscores. Would modular-gaming be better than modular_gaming?

[2013-01-10 09:12] curtisdelicata commented on #70
I have deleted the fork at modulargaming/event

I have given you both full access to the Modular Gaming organization on github. You can add repositories now if needed. Laravel's Event handler sounds interesting.

[2013-01-10 09:15] curtisdelicata commented on #76
I have deleted the branch as we have finished with it.

[2013-01-10 12:15] curtisdelicata opened #77 "Signing off commits"
Should we sign off commits using the -s switch?

I think it may be a good idea. However the Developer's Certificate of Origin in the license may be good enough on it's own.

[2013-01-10 12:57] Hinton commented on #77
According to http://wiki.eclipse.org/EGit/User_Guide/Commit#Signing_off_commits, "The purpose of this signed-off-by information is not defined by Git but by the team using Git. Some teams use this information to record who has reviewed a certain commit. Other teams use the signed-off information to record that a commiter agreed to certain standards/rules. E.g. you may have to sign-off your own com

[2013-01-10 13:13] curtisdelicata commented on #77
Thank you for your detailed response. It makes sense that we should be free to choose.  The new license should be enough.

[2013-01-10 13:15] curtisdelicata commented on #76
"@curtisdelicata Well while it would work you wont get as much separation and it's slightly confusing. Where would third party MG modules go?

Where would third party modules go now? application/modules? modular-gaming/ ?

[2013-01-10 17:40] Hinton commented on #73
Should we have an int public inside the forum_category table?

Should a category be open for multiple roles or just one, if only one we could have a role_id column while if we want multiple we would need a separate table.

It depends slightly on how we want roles to work.

[2013-01-10 17:40] Hinton commented on #77
Should we close this issue?

[2013-01-10 17:56] happyDemon commented on #73
I'd definitely go for a seperate table since we don't want to hard code in staff groups, we could do this in combination with a public field, if it isn't public only than we'd check for the permissions to save on query load.

[2013-01-10 17:59] happyDemon commented on #76
Third party modules containing Kohana specific code should still go into modules, while modular gaming specific modules would go into modular-gaming. to keep things simple

[2013-01-10 18:08] happyDemon commented on #42
it would dictate any item that has its item type is required to use this command. An item isn't limited to just one command.
e.g. neopets used to have an ommelette from which you could take multiple bites. 2 actions would be performed: pet's hunger level is changed and the item is replaced with another.

[2013-01-10 18:10] Hinton commented on #42
True, but what about potions. Won't that require us to have multiple potions categories if they all do different things?

[2013-01-10 18:12] happyDemon commented on #42
I would see potions affecting stats, it's all about defining the potion command. You would pass which stat(s) to influence by how much
They shouldn't be limited to just changing one stat

[2013-01-10 18:16] Hinton commented on #42
Well, I was more thinking of uhm, something that will be in the same category but will do different things, health and energy potions perhaps? They would call 2 different commands but should still be in the same category, or perhaps I am misunderstanding it, and we should have an item_category for organizing items in inventory and shops?

[2013-01-10 18:22] happyDemon commented on #42
Item_Command_Pet::potion could get their command assigned like this

[code]

other potion

[code]

and another potion changing multiple stats

[code]

item commands be bound to several item types
Food: Item_Command_Pet::feed
Drinks: Item_Command_Pet::feed

[2013-01-10 18:26] happyDemon commented on #42
how would the item_category work though? wouldn't that be the same as item_type?

[2013-01-10 18:52] Lewis commented on #76
Is there a reason we need a hyphen or underscore? I think it looks better as modulargaming

[2013-01-10 18:56] #43 closed, assigned to happyDemon

[2013-01-10 19:50] curtisdelicata commented on #77
Yes it can be closed.

[2013-01-10 19:50] #77 closed, assigned to curtisdelicata

[2013-01-10 19:50] curtisdelicata commented on #76
This issue can now be closed.

[2013-01-10 19:50] #76 closed, assigned to happyDemon

[2013-01-10 20:14] curtisdelicata commented on #73
A public field sounds the right way.

[2013-01-10 20:17] curtisdelicata commented on #70
This can now be closed?

[2013-01-10 20:24] Hinton commented on #70
Close it after we got the event class in our repo.

[2013-01-10 20:25] Hinton commented on #21
Should pagination use query_string or routes?

Query string is the easiest but routes might look better.

[2013-01-10 21:16] curtisdelicata commented on #70
Good idea

[2013-01-11 10:51] happyDemon commented on #70
I sneaked it in in one of my last commits

[2013-01-11 10:53] Hinton commented on #70
We should add a docblock containing where we got it and their license.

[2013-01-11 11:07] #70 closed, assigned to nobody

[2013-01-11 12:27] happyDemon commented on #45
How are we going to handle the restock function?
Do it like kitto? letting every item have it's own restock frequency timer

[2013-01-11 12:38] happyDemon opened #78 "Assets"
While I was creating the item admin I noticed that it seems like we don't have an asset manager yet.

This one seems interesting, we'd just have to upgrade it to KO3.3 and integrate it into mustache: https://github.com/OpenBuildings/asset-merger

[2013-01-11 12:40] Hinton commented on #45
Do we need restock functionality, I don't know how many games use such feature and why.

I'm also slightly unsure if it belongs in the shops? module, or if it would be better to have it as a standalone module as not every game needs it. And should we code it ourselves or let the games that require it implement it?

Well enough about that, giving the items a restock_timer and restock_quantity shoul

[2013-01-11 12:50] Hinton commented on #78
Hmm, it might be slightly overkill, it seems like the module puts everything in the same block, it's recommended to put the script tags just above the body close tag to improve load time.

I wrote an assets module a long time ago, https://github.com/hinton/assets

Well either way if we properly cache it using Fragment as explained in the blog, http://ivank.github.com/blog/2011/11/kohana-assets-don

[2013-01-11 12:52] happyDemon commented on #45
instead of looping over every item I think it might be better to query for items which last_restock >= current time + restock frequency. It would save much overhead when an item database grows.

These are NPC shops we're talking about, looking at the fact we're targetting pet games wouldnt a shop restock be vital?

we could add a config so the owner of a game could choose to work with shops that h

[2013-01-11 12:54] Lewis commented on #67
User id needs to be passed too. For example when an item is bought from user shop you need to set buyer and seller log

[2013-01-11 13:00] Hinton commented on #67
Table structure

**Notifications**
id
user_id
title??
message
type (success | alert | warning)?

There might not be a need to have a title, but it could be nice if we plan on sending emails when a user gets a new notification.

[2013-01-11 13:06] Hinton commented on #45
Hmm, would we run that query using cron?

We could have a boolean, use_stock in the items, 0 would give unlimited stock while 1 would use stock that require restocking.

[2013-01-11 13:20] happyDemon commented on #45
If we use joins we could reference the needed fields I'm a bit rusty on this but

shop_restock:
id, shop_id, item_id, frequency, last_restock, min_amount, max_amount, max_stock, price

shop_inventory
id, shop_id, item_id, price, stock

$time = time();
SELECT \* FROM shop_restock WHERE last_restock >= $time+frequency

using a cron or a load method wouldn't be a difference.
But we should decide on u

[2013-01-11 13:26] Hinton commented on #45
I was thinking of storing it in the table, as you might want a few items to be unlimited?

I also consider cron to be the best solution in this case as it's only 1 query, + additional update queries. I wonder if it would be possible to use an update query directly, UPDATE shop_restock WHERE last_restock >= $time+frequency SET stock=stock+quantity, last_restock = last_restock+frequency

[2013-01-11 13:28] happyDemon commented on #78
Yours seems easier to call and integrate, js and css blocks wouldn't be needed and using .less parsers and the sorts I don't see being used.

Who's going to implement this?

[2013-01-11 13:29] Hinton commented on #78
I was going to do it after my exams ended (tomorrow), but you are free to do it if you want.

[2013-01-11 13:34] happyDemon commented on #45
I don't think that would be possible, only running one querry, since the restock table is telling us how many items are going into shop_inventory (which would either need an INSERT if the item's not there or an UPDATE if the item's still in stock in the shop).

an unlimited stock of an item could go into shop_inventory with the stock column as -1

[2013-01-11 13:35] happyDemon commented on #78
haha, I'm swamped today with the item admin, haven't got a clue about Kohana's fragments. I'll leave it up to you if that's ok :D

[2013-01-11 15:40] curtisdelicata commented on #67
Yes that looks good. Title is a good idea.

[2013-01-11 15:42] curtisdelicata commented on #45
I think restocks are needed. We can do it similar to how Kitto does it. The above structure looks good.

[2013-01-11 15:46] curtisdelicata commented on #21
Routes is the best way as that is how we are supposed to do it? /forum/category/2/page/2

[2013-01-11 15:48] Hinton commented on #21
Sounds good, we have to rename the action to page in that case.

[2013-01-11 16:38] #21 closed, assigned to Hinton

[2013-01-11 19:20] happyDemon commented on #57
as you can see, i pushed some initial code for the item admin

Item commands aren't included yet, still need to figure out how exactly I'm going to implement them.

So right now you've got your basic add/edit/delete functionality, along with a new auto-complete item search. The whole interface being in driven by ajax requests.

[2013-01-11 19:35] Hinton commented on #57
Regarding ajax request, I was thinking we should use the Kohana is_ajax function to determine if we want to render with the template or without.

I doubt we are going to need ajax fallbacks, but if they won't cost us any extra work it wont hurt to provide them.

It's also bad to disable CSRF in admin panel, as it would open up for cross site attacks.

[2013-01-11 20:33] happyDemon commented on #57
I know, I just turned them off untill we can generate them for use with the ajax interface. Since they're currently generated on a pageload-basis they wouldn't really be of any use when the form could be used multiple times on 1 pageload. I'm just thinking how we can work around this without doing too much requests.

I'm sure we can atleast trust owners to have up-to-date browsers so they certainl

[2013-01-11 20:39] Hinton commented on #57
True, was more thinking of smartphones and other smaller devices, might be bothersome displaying a modal in such a small resolution.

I was considering sending html content and render it without the template if it was ajax and with template if its a regular request. Json is smaller but you have to build the html using js in that case, we should consider using mustache clientside in that case.

[2013-01-11 21:26] happyDemon commented on #57
that's a good option :D

[2013-01-11 21:27] Hinton commented on #57
Not quite sure what you are refering to, there was several ideas in the previous post.

Sending it as rendered html or use mustache to generate it from json?

[2013-01-11 21:53] happyDemon commented on #57
Rendering it clientside with mustache, sorry was in the middle of making dinner, skimmed a little.
We could tie it in with jquery mobile or something similar when detecting a mobile browser.
We would only be sending the template once, using less bandwith.

Although we'd really need to put in somework into the admin module to get this working properly.

[2013-01-11 21:55] Hinton commented on #57
Yep, we should create a solid admin module that minimizes the work for each page.

We should be able to share the mustache templates, how about precompiling the needed mustache templates and serve it as a js file. We would need a way to precompile them however, not sure if there exists a php script with that feature.

[2013-01-11 22:09] happyDemon commented on #57
I don't think the template files should prove to be a problem, hold on, we need to create a new ticket for this discussion

[2013-01-11 22:43] happyDemon opened #79 "Admin standards specification"
@hinton and me got to talking about this, better to discuss this in an appropriate ticket

**Mobile support**
Oscar brought up the issue of modals possible being a bother on mobile devices, it wouldn't be the best user-experience on mobile devices.

This can easily be fixed by offer a mobile tweak of the admin through a specialised user interface framework.

There are lots of options, but I'd pers

[2013-01-11 22:55] happyDemon commented on #57
opened #79 for further discussion about the admin specification

[2013-01-12 02:30] happyDemon commented on #79
I'm uploading a jQuery plugin tomorow that has all the CRUD functionality that the item admin page has, just a wrapper around the javascript code I had already uploaded.
It's portable and should make it easy to extend to other admin pages.
You would only need to specify the table that has the data, an empty form in a modal and a delete modal. callbacks would be optional ofcourse ^^

[2013-01-12 05:56] Hinton commented on #79
I would prefer having the same website theme on both desktop and mobile devices, considering we are using Twitter bootstrap, we can easily support fluid design and adapt it to look nicely on smaller devices without much problem at all.
I never liked "mobile" themes as they tend to work bad and feel un-native while trying to look native.

The rest controller looks interesting and might be a good wa

[2013-01-12 11:19] curtisdelicata commented on #79
I agree that it is best to use the same website theme for all devices.

[2013-01-12 12:37] Hinton commented on #79
Regarding templates, we should attempt to reuse the clientside and serverside, not sure the best approach for this.

One way would be to use a inner-layout with the modals content within.
Layout->layout inner->modal

[2013-01-12 15:02] happyDemon commented on #79
that would be a viable option, at the moment I'm only using 2 modals for the item admin; a form modal and a delete confirmation modal (the delete modal wouldn't need to be recreated for every admin page)

[2013-01-12 16:09] Hinton commented on #78
Perhaps we could use https://github.com/Zeelot/kohana-assets.

It seems like a better approach to use config files rather than a static class (HMVC).

[2013-01-12 16:09] Hinton commented on #78
Committed the assets controller from my module, so we can serve assets from modules.

[2013-01-12 21:54] Hinton opened #80 "Routing naming standard"
We need a naming standard for routes, currently I use slash to seperate them, but it feels to similar to urls.

I suggest that we use <module>.route_name. For example login would be user.login.

We should also attempt to use routes as much as possible and avoid catch em all routes such as the default route and admin route. Mostly for allowing reverse routing to be as painless as possible and offer

[2013-01-12 21:57] Hinton commented on #70
I noticed that we might have problems with the event module in HMVC requests. Events created in the request will be valid in the next sub-request, something we might want to avoid if possible.

[2013-01-12 21:57] happyDemon commented on #80
I'm all for this, I would include the same standard when naming events.

[2013-01-12 22:04] happyDemon commented on #70
HMCV only covers extending classes, events are just functions that are created to be executed at one point, only once, not to be reused.

I don't really see a point in extending them or how we could gain anything from it at this point.
But I could be missing your point

[2013-01-12 22:06] Hinton commented on #70
I was thinking what would happen if we added an event in the main-requests controller that also gets executed in the sub-request. Not sure if there are any such case. As events probably won't be added in controllers, only fired.

[2013-01-12 22:07] Hinton commented on #80
We should write down a naming standard guide or something for these things, using the userguide module?

[2013-01-12 22:14] happyDemon commented on #67
I think we could benefit from splitting this up into 2 tables, one for logs, one for notifications.
The logs would have more information that moderators could use, while the notifications would have some small informational info and easily be deleted.

**Logs**
id
user_id
location //the controller route of where this happened
time  //ORM created property
message
params  //these could be used to st

[2013-01-12 22:16] Hinton commented on #67
Seems like a good suggestion, time to spy on players! :D

[2013-01-12 22:18] happyDemon commented on #80
sounds good, if you want, I could take some time next week to sit down and write some about designing admin pages.

It's good to have these kind of developer guides around, makes things much clearer, especially for people prospect developers

[2013-01-12 22:20] happyDemon commented on #67
haha, at misticpets they had something similar, it's made checking false claims easier or made catching cheating players a lot easier ^^

[2013-01-12 23:37] Hinton opened #81 "SQL structure & migrations."
The current sql file is quite hard to maintain and detect changes in.

We should split it up and place them inside correct module.

We should also consider using minion-migrations for installation and updates.

I found https://github.com/OpenBuildings/timestamped-migrations as an alternative to minion-migrations.

[2013-01-12 23:50] happyDemon commented on #81
seems perfect, I'm willing to write the initial DB migration if we're implementing this

[2013-01-13 09:48] curtisdelicata commented on #81
Seems interesting. Is there anyway for it to find the migrations in the modules?

[2013-01-13 09:49] curtisdelicata commented on #78
Looks good.

[2013-01-13 09:50] curtisdelicata commented on #80
I agree with this proposal.

[2013-01-13 09:56] curtisdelicata commented on #81
Does this also mean we have a way of upgrading? Users of Modular Gaming could upgrade there database safely using this?

[2013-01-13 10:06] happyDemon commented on #81
I think we could hook that functionality in there using Kohana::find_file().
Yup, that's the plan I think :D although I think, optionally, for MG users we should write a web frontend for this around the time we start working on an installer

[2013-01-13 10:08] curtisdelicata commented on #81
Yes this would be useful for a installer. We would also have to write the config files (There is a Kohana way of writing to config files??)

[2013-01-13 10:15] happyDemon commented on #81
I think we could slightly modify @hinton 's langify module to do this, l18n files are stored in the same format as config files if I remember correctly.

[2013-01-13 10:15] curtisdelicata commented on #81
Ok sounds good

[2013-01-13 12:44] Hinton commented on #78
Draft for assets manager class.

Loads assets from config files.

[code]

In development the files should be used as they are, without merging/minifying. And in production they should be merged, minified and cached to /assets/....

[2013-01-13 13:15] curtisdelicata commented on #78
I agree with your proposal.

[2013-01-13 15:01] curtisdelicata opened #82 "Directory skeleton structure"
Should we create the directory folders needed for third parties?

application/classes/{Controller,View,Model}
application/templates

[2013-01-13 15:25] #82 closed, assigned to nobody

[2013-01-13 17:45] Lewis commented on #80
Sounds good.

[2013-01-13 18:03] #80 closed, assigned to Hinton

[2013-01-13 19:29] happyDemon commented on #78
The debug toolbar needs to be turned off in the asset controller, it's spitting out errors.

How are we going to load the assets when we're dealing with specific assets for a controller:action?

[2013-01-13 19:36] happyDemon commented on #78
also, the order javascript files are loaded is very important, we would need a way to tell the collecter you would want to add this js file before/after a different js file.

I'll certainly be needing for the item admin

[2013-01-13 19:44] Hinton commented on #78
Would it be enough to support weight, or do we need dependency support somehow?

[2013-01-13 19:52] happyDemon commented on #78
I'd love for it to have dependancy support, it would tie in nicely when
defining html through events
On Jan 13, 2013 8:44 PM, "Oscar Hinton" notifications@github.com wrote:

[2013-01-13 20:01] Hinton opened #83 "Abstract class placement"
I propose that we place abstract classes inside a folder Abstract.

For example should `Controller_Frontend` be called `Controller_Abstract_Frontend`.
This should give a clearer view of what controllers are abstract and prevent a visitor from accidentally visit it (would trigger an error).

Would this be a good idea, or should we stick with how we currently handle it, or any other naming suggestio

[2013-01-13 22:10] Hinton opened #84 "Rename User in Views"
The current logged in user is currently accessed using the function User in View_Base.
This causes a few confusions while trying to set another user, therefore it might be good to rename it to current_user or something similar.

[2013-01-13 23:18] Hinton opened #85 "Fix Debug-Toolbar or PHP Quick Profiler?"
The current debug toolbar works fine, however it needs some work.
We should disable the automatic rendering as it breaks json.

There are a few alternatives to Debug-Toolbar.
https://github.com/Alert/profilertoolbar seems more or less the same but provides some more features.

http://www.particletree.com/features/php-quick-profiler/ looks awesome but we would have to port it, I don't think it woul

[2013-01-13 23:39] happyDemon commented on #84
We could rename it to player? Easy to remember, no underscore needed :D
On Jan 13, 2013 11:10 PM, "Oscar Hinton" notifications@github.com wrote:

[2013-01-13 23:42] Hinton commented on #84
Player makes sense.

So player would refer to the currently logged in user while user refers to whatever "user we have to deal with".

[2013-01-13 23:48] happyDemon commented on #84
yupyup

[2013-01-13 23:57] happyDemon commented on #85
I quite like https://github.com/Alert/profilertoolbar 's look less cluttered than pqp's and seems to have more features targetted at Kohana.

It also seems to be actively maintained (last repo update was from 3 months ago) whilst pqp is dated from 2009

[2013-01-14 00:00] Hinton commented on #85
I gave PQP a try and it takes up nearly the whole browser window while active, making it quite bothersome to use sadly.

[2013-01-14 00:02] happyDemon commented on #83
Seems like a good practice to store base, AKA Abbstract controllers in their respective folders, not to cloud the Controller folders with controllers that won't be actively routed to.

[2013-01-14 00:05] Hinton commented on #83
We should also use the same principle for View classes, as they also clutter up the directory.

[2013-01-14 00:07] Hinton commented on #85
Forked profilertoolbar to modulargaming and created the 3.3 branch.

[2013-01-14 11:28] curtisdelicata commented on #78
Dependency support would be best.

[2013-01-14 11:29] curtisdelicata commented on #83
Sounds like a good idea. Do other Kohana applications do similar?

[2013-01-14 11:30] curtisdelicata commented on #84
I was going to say to use current_user but player seems ok.

[2013-01-14 11:30] curtisdelicata commented on #85
I agree that profiletoolbar seems the best option.

[2013-01-14 12:41] happyDemon commented on #79
It might come in handy include a few extra css style and js plugins in the admin:

http://favbulous.com/demo/twitter-bootstrap-custom-icons/
http://reactiveraven.github.com/jqBootstrapValidation/
http://www.eyecon.ro/bootstrap-datepicker/

[2013-01-14 12:43] Hinton commented on #79
The famfamfam icons looks quite odd with bootstrap considering all the icons currently are black/white. The validation plugin looks nice, seems like it uses mostly html5 for validation.
Datepicker looks good and might be useful.

[2013-01-14 14:54] #85 closed, assigned to nobody

[2013-01-14 14:55] Hinton commented on #85
I modified debug-toolbar so it won't autorender anymore, and I improved the route tab slightly with a few features from profilertoolbar.

[2013-01-14 15:55] happyDemon commented on #79
you're right there, I was just advising them for use in the admin's main nav bar

[2013-01-14 17:47] happyDemon commented on #78
Added asset loading through config files in the latest commit d40c91d007b6a09f6aa6da4538f899e3df74d842
Even updated the frontend controller to load the essential assets that are needed on every page.

Registering assets would be as easy as calling this in your controller

[code]

Loading assets can only be done by providing an array, e.g. not a config object.

[2013-01-14 18:53] happyDemon commented on #78
e0dac014dc2764cf6abbb6f76e0da516e4600c00 Adds the extra assets needed by the admin, I still need to user admin still needs to loads its asset file, didn't include it in the commit.

[2013-01-14 19:55] Hinton commented on #83
https://github.com/synapsestudios/kohana-projecttemplate/ uses /Abstract/Controller/ format, it might be better than /Controller/Abstract.
Vendo, https://github.com/vendo/core/blob/develop/classes/controller.php extends the controller class.

Would it be better to use /Abstract/Controller and /Abstract/View than /Controller/Abstract ?

[2013-01-14 20:25] #84 closed, assigned to Hinton

[2013-01-14 20:37] #83 closed, assigned to nobody

[2013-01-14 20:44] #78 closed, assigned to happyDemon

[2013-01-15 10:53] curtisdelicata commented on #83
Thanks. We should follow how project template does it.

[2013-01-15 12:41] Hinton opened #86 "Assets"
We need to minify assets in production.

[2013-01-15 15:24] happyDemon commented on #79
I'm also thinking about standardising the way the admin handles ajax requests.

This would mean we'd have to normalise what data the controller sends over the requests.
For example, all a successful request would be required to send send is a parameter called status with a value called success, any other data would be used to handle a callback.
While a request with errors would need 2 parameters;

[2013-01-15 16:15] happyDemon commented on #79
https://gist.github.com/d20cd3eeb23b70502715

Here's a gist that describe how you'd generally set up an admin page (client side)

[2013-01-15 16:22] curtisdelicata commented on #79
The gist looks good.

[2013-01-15 18:37] Hinton opened #87 "Upgrade jQuery to 1.9"
jQuery 1.9 was released today, we should upgrade to it.

We should also consider using 2.0 as standard and provide fallback to 1.9 for ie 6,7,8.

[code]

!!! upgraded to 1.9, 2.0 is still beta, we'll come back on this at a later time

[2013-01-15 19:54] Hinton opened #88 "Rss feed at dashboard"
We should have an rss feed widget at the admin panel dashboard that displays the latest news for MG.

[2013-01-15 20:37] happyDemon commented on #81
I was wondering if we'll be supporting localization at any point?

[2013-01-15 20:39] Hinton commented on #81
We should yes there are a few different approaches on how we should deal with it, but I don't think we should squeeze it in for 1.0

[2013-01-15 23:18] Hinton opened #89 "Follow Kohana's Conventions and Style"
We SHOULD follow [Kohanas Conventions and Styles](http://kohanaframework.org/3.3/guide/kohana/conventions), if we disagree about something we MUST write our own guideline and follow it!

Most of our code follows the convention, there are a few new additions, mostly by @happyDemon that do not follow it.

I'm not saying we have to follow it, 100% but we have to decide on a set of rules that we will

[2013-01-15 23:26] Hinton opened #90 "BDD & Build.xml"
We should try to code more using the BDD (Behavior-driven development) process, it's a subset of TDD (Test-driven development).

This means we should write our Behat tests that describe our expected behavior before writing any code, we should also use phpUnit or phpSpec to implement our classes before we write them.

Behat needs to be updated and tests placed in the correct modules.

Build.xml nee

[2013-01-16 09:44] happyDemon commented on #89
I'm guessing you're talking about the way I do my conditions?
I'll change them, if there's anything else, let me know

[2013-01-16 09:46] happyDemon commented on #90
Any chance on providing a guide?
It's hard jumping in, I haven't done this before and probably there are more like me joining soon.

[2013-01-16 09:58] happyDemon commented on #87
using 2.0 is still to early since it's in beta, have you checked if anything from the bootstrap library breaks?
we shouldn't be using the migrate plugin they offer if we're actually upgrading, if we would we could just as wel stay on the current version.

[2013-01-16 10:03] happyDemon commented on #88
This is a great idea

[2013-01-16 10:15] curtisdelicata commented on #89
I agree with this proposal. Let me know if there is anything I am doing wrong.

[2013-01-16 10:16] curtisdelicata commented on #90
Behat confuses me a bit on how to structure it to work with forms which change and how would we give the username and password roles?

Would behat work with AJAX? Or would we need to have HTML fallbacks for item admin etc?

[2013-01-16 10:17] curtisdelicata commented on #87
1.9 will be fine for now. We should wait before we use 2.0 as it is still beta.

[2013-01-16 10:19] curtisdelicata commented on #88
I agree that this is a good idea. ModularGaming.com does not use a content management system but I can create a RSS feed manually.

[2013-01-16 10:20] curtisdelicata commented on #81
I don't think we should worry about localization until after 1.0

[2013-01-16 10:25] happyDemon commented on #87
we'd also need to tweak the asset collector to incorporate these conditional blocks

[2013-01-16 10:44] happyDemon commented on #87
I updated any javascript I already made to accompany the move to 1.9

[2013-01-16 11:44] Hinton commented on #90
Bahat will work with ajax if we use a different mink driver, Goutte do not support ajax as it's a scraper while Selenium will use a browser window to perform the tests.

[2013-01-16 12:14] Hinton commented on #90
Behat is quite simple to get started to, they have some well written documentation, http://docs.behat.org/.

[2013-01-16 22:41] happyDemon opened #91 "Pagination"
I was wondering if it's still too late to switch around the pagination module.

https://github.com/morgan/kohana-paginate
http://dev.morgan.ly/kohana/v3.3/guide/paginate/

I personally think it simplifies the way we would handle pagination on pages, it doesn't offer an implementation, writing our own for kostache wouldn't be a problem.

next to standardising page-pagination, it also offer a standa

[2013-01-17 11:03] curtisdelicata opened #92 "Rename pet races to pet species"

[2013-01-17 11:04] curtisdelicata opened #93 "Rename pets table to user_pets"

[2013-01-17 11:04] curtisdelicata commented on #92
Closed.

[2013-01-17 11:04] #92 closed, assigned to nobody

[2013-01-17 11:04] curtisdelicata commented on #93
Closed.

[2013-01-17 11:04] #93 closed, assigned to nobody

[2013-01-17 11:28] curtisdelicata commented on #88
http://www.modulargaming.com/rss.xml

[2013-01-17 11:44] curtisdelicata commented on #55
At the moment this is under the pets link. Should it be under the user link in a tab called pets?

We would need to use an event to show it.

[2013-01-17 11:45] curtisdelicata opened #94 "User profile - pets"
The user profile has a list of the users pets. This should be done using an event.

[2013-01-17 11:46] curtisdelicata commented on #88
I tried following:http://kerkness.ca/kowiki/doku.php?id=working_with_atom_and_rss_feeds#parsing_a_remote_feed

but I am having issues with it.

[2013-01-17 14:40] happyDemon commented on #88
Could you describe what problem you're having?

[2013-01-17 14:41] #60 closed, assigned to happyDemon

[2013-01-17 15:42] curtisdelicata commented on #88
It won't let me access the information as an object or as an array.

[2013-01-17 15:48] happyDemon commented on #88
I can't help you without any code xD
if you're stuck you could always try to browse Kohana's guide (or browse through the api that's generated in the userguide module)

[2013-01-17 15:51] curtisdelicata commented on #88
Controller:

[code]

View:

[code]

Template:

{{^feed}}
No feed.
{{/feed}}

{{#feed}}
{{title}}
{{/feed}}

Error:

 Trying to get property of non-object

[2013-01-17 15:54] curtisdelicata commented on #88
View:

[code]

Outputs 'No feed'

[2013-01-17 16:09] curtisdelicata commented on #91
The benefit of using Kohana Pagination is that it is an 'official' module. However this looks interesting. We should wait and see what Oscar says about it.

[2013-01-17 16:11] happyDemon commented on #91
it used to be an official one, I think it was around 3.0, but it hasn't been included in official releases, making it an unofficial module.
If you poke around in there forums the core devs said that there are better ways to handle pagination than the implementation they had previously included in official release.

Who's mainting the pagination module by the way? I bet it's not a core dev :P

[2013-01-17 16:13] curtisdelicata commented on #91
I did not know that it is not official. It should of been obvious as there is no 3.3 for it, I had to clone a fork of a fork and then update it.

I have looked at the guide for this one and it looks better.

[2013-01-17 16:14] happyDemon commented on #88
http://kohanaframework.org/3.3/guide-api/Feed#parse

there you can see how your feed is being parsed.
If you're still having troubles I'll be able to have a look tomorow ^^

[2013-01-17 16:14] Hinton commented on #91
Shadowhand seems to be maintaining it, not sure why we use a fork of a fork of a fork over at mg/pagination.
https://github.com/shadowhand/pagination/tree/3.3/master

[2013-01-17 16:16] happyDemon commented on #91
@hinton was possitive about it too, but said he didn't want to give a specific answer until he was better. I guess we'll have to wait a bit longer if we're going to do the switch.

strange that shadowhand would be the one maintaining it xD lol forkception o.O

[2013-01-17 16:44] happyDemon commented on #91
Ugh, thank you coffee rush, didn't notice your reply was yours Hinton xD
So we'll incorporate this?

[2013-01-18 10:47] curtisdelicata commented on #88
Got it working. I forgot to return $feed.

[2013-01-18 10:51] #88 closed, assigned to nobody

[2013-01-18 10:56] curtisdelicata commented on #67
Will we have a helper to add log and notifications?

[2013-01-18 10:57] curtisdelicata commented on #91
I originally forked from one that had extra changes on how the request works. I did not see a 3.3 branch on the main one. I have now forked the main pagination and tested it and it works.

Feel free to change it though, as the one you mentioned looks interesting.

[2013-01-18 11:06] happyDemon commented on #67
Kohana has interfaces for this, so we could hook it in there

http://kohanaframework.org/3.3/guide-api/Log

[2013-01-18 11:31] curtisdelicata commented on #67
I thought that was for system logs and not logs of actions carried out by users.

[2013-01-18 11:44] curtisdelicata commented on #28
I think we should keep messaging and forum separate? Maybe use similar code? Or if we are using the same code shouldn't we use forum instead?

[2013-01-18 12:41] happyDemon commented on #67
The default instance belongs to the system, we can add our own instance (and writer) to cover our part of the framework.

[2013-01-18 12:49] curtisdelicata commented on #67
Good idea.

[2013-01-18 14:39] happyDemon commented on #57
Allrighty, nearly done with this one.
All that's left to do is validate the commands that are being sent when saving, implement a few more autocompleters for the item commands and do some necessary controller code clean up, merge validations in some places.

Any last minute requests for the item admin?

[2013-01-18 14:49] happyDemon commented on #47
How are we going to be doing this? the same as kitto kitto, with a page where all the user-owned recipes are displayed, so the user can start crating from there on out?

[2013-01-18 14:51] happyDemon commented on #44
What item types will we be shipping?

For foods and toys I would need the pet module to have these stats so I can start implementing the item commands.
Paintbrushes still need a way to check if the color is actually released for that pet specie.

[2013-01-18 15:15] curtisdelicata commented on #57
Sounds good, I can't think of any requests.

[2013-01-18 15:16] curtisdelicata commented on #47
The same as Kitto sounds good.

[2013-01-18 15:18] curtisdelicata commented on #44
At the moment we have it simple where species have all the colours. I guess that could be improved.

I will add happiness and hunger to pets.

[2013-01-19 11:53] curtisdelicata commented on #89
Can this now be closed?

[2013-01-19 13:09] curtisdelicata opened #95 "Pets - limit should be set in config"

[2013-01-19 13:11] curtisdelicata commented on #13
Should we use a minion task called by cron?

[2013-01-19 13:32] #95 closed, assigned to Lewis

[2013-01-19 16:01] curtisdelicata commented on #12
We have a special colour 'outline' (id 7)  that should be able to be changed by using a paint brush type admin

[2013-01-19 16:20] happyDemon commented on #12
That's easy to add in the item admin. We do, however still need a way to check which specie supports which color before it could be implemented.

[2013-01-19 21:08] happyDemon commented on #79
http://fortawesome.github.com/Font-Awesome/ we could maybe use some of those icons for the admin, offers us a broader selection for the nav an maybe even in the admin itself.

[2013-01-20 11:26] curtisdelicata commented on #12
At the moment every specie has access to every colour. This may be improved and changed at a later date.

[2013-01-20 15:33] #7 closed, assigned to nobody

[2013-01-20 15:33] #50 closed, assigned to nobody

[2013-01-20 15:41] #87 closed, assigned to nobody

[2013-01-20 15:43] #89 closed, assigned to nobody

[2013-01-20 19:49] happyDemon commented on #79
@hinton from having a look at the user admin page I'm guessing you would want to put in a complete ajax fallback? I thought we were just going to render the content of the forms into pages rather than modals for mobile support.

[2013-01-21 00:29] happyDemon commented on #57
Phew, what a 9 days it was o.O this is finally feeling done, just need to redo the way item recipes are validated and I can move on to the user-portion _yay_

[2013-01-22 13:54] Hinton commented on #91
I took a look at the pagination module, it seems like a better solution than our current module, however!

It does not support configuration file(s), what I liked about the current is that you can specify a standard global limit that will be used unless you specify one in the pagination builder (Keeps it consistent over the whole site).
It also has no render function, so we have to write one that

[2013-01-22 15:02] curtisdelicata commented on #91
I think the one we currently have is good enough however I am happy whichever one is used. Feel free to change.

[2013-01-22 15:03] curtisdelicata commented on #65
Do we need this? I am considering closing the issue.

[2013-01-22 15:58] #13 closed, assigned to Lewis

[2013-01-22 15:59] #12 closed, assigned to Lewis

[2013-01-23 10:59] curtisdelicata commented on #28
@Lewis

[2013-01-23 14:17] happyDemon opened #96 "Toying with CSRF"
This is being a pain in the ass for me whenever I create and POST ajax request, so I was wondering if we could switch things a little up without losing it's functionality, or even beter, its purpose.

At this point a token gets generated on a page load, put in a sessions and if the form is submitted the controller checks if the token is the same as the csrf field in the form.

I think it might be

[2013-01-23 14:30] curtisdelicata commented on #96
I would prefer that we keep CSRF for forms submitted. Checking just for the requests referrer and/or origin for AJAX requests should be fine, the referrer or origin can be modified though?

What do you think about this @hinton

[2013-01-23 14:51] happyDemon commented on #96
Yes, that's true, they can be modified and yup, this would only count for the ajax requests.

I'm just not sure how we'd generate a token for ajax requests. If we minify the js files we can somewhat hide the url (i think), which would help slightly, but other than that I'm clueless.

[2013-01-23 15:42] Hinton commented on #96
CSRF Tokens are currently generated once and re-used meaning the CSRF token won't change during a players visit, and we could use the same token for all ajax requests.

Checking origin should protect against most attacks but we should also send along the CSRF token.

[2013-01-23 16:41] happyDemon commented on #96
ok, so it's just a matter of sending through the csrf token with all the POST requests? allriight :D I'll try to incorporate it in all my requests by tonight

[2013-01-23 16:43] happyDemon commented on #96
in the meantime I hacked something together in the frontend controller, will be gone by the time I'm sending csrf tokens along with the requests

[2013-01-23 18:06] happyDemon commented on #42
I'm nearly done with the inventory, all that's left is some making some templates(view&consume), debugging and pagination. If there's anything you guys wantto see added, tell me ^^

[2013-01-23 21:47] Hinton commented on #65
We can come back for it if we need it in the future.

[2013-01-23 21:47] #65 closed, assigned to nobody

[2013-01-24 11:08] curtisdelicata commented on #42
I noticed you have a command for pet transform (change specie) but could not see one for changing the colour?

[2013-01-24 11:08] curtisdelicata commented on #91
Have we decided now? I am happy with either one.

@hinton @happyDemon @Lewis

[2013-01-24 11:09] curtisdelicata commented on #73
Closed for now.

[2013-01-24 11:09] #73 closed, assigned to nobody

[2013-01-24 11:16] curtisdelicata commented on #94
I am a bit confused how this would work? Can we mention a function in the init.php and the code/function is in a separate file? As we don't want to put the whole thing in init.php

@Lewis @happyDemon

[2013-01-24 12:54] happyDemon commented on #91
I'll try to get an implementation ready with a global config today ^^

[2013-01-24 12:59] happyDemon commented on #94
it uses this function: http://php.net/manual/en/function.call-user-func-array.php

so you could do something like

[code]

[2013-01-24 13:02] happyDemon commented on #42
it's called Pet_Paint, not implemented at the moment though

[2013-01-24 13:52] happyDemon commented on #54
I'm adding a pivot tabel to the DB in my next update so we can check which pet specie has which color, I'll update the admin page accordingly ^^

[2013-01-24 23:05] happyDemon commented on #47
Started on this, need to brush up the interface a little before I start adding the ajax alternative. Nearly complete  though ^^

[2013-01-25 09:06] curtisdelicata commented on #91
I had an error on trying to install new module using existing installation. I tried with a fresh clone and it failed at pagination.

I deleted the module and re added. I also renamed it to paginate.

[2013-01-25 09:08] curtisdelicata commented on #91
The first error said does not point to a valid commit. On fresh clone I got an error about branch. I've tested it and I've got it working fine now.

[2013-01-25 12:23] curtisdelicata commented on #91
Can this be closed now? Or should we close it after we implement pagination in existing modules?

[2013-01-25 12:25] happyDemon commented on #91
I think we'd better wait until all the existing modules get updated with the new pagination class^^

[2013-01-25 12:33] #42 closed, assigned to happyDemon

[2013-01-25 13:45] #47 closed, assigned to happyDemon

[2013-01-25 16:01] Hinton commented on #91
I am currently cleaning up the paginate class a bit, and I have an idea for improvement.

We should only support an array as config, and we should merge the default config file with the config array.

Our new api would be, `factory($object, array $config = array(), $driver = NULL)`

[2013-01-25 16:12] happyDemon commented on #91
Are you sure you'd need to offer $driver? MG is only concerned with the default ORM, no? otherwise it's all good :D

[2013-01-25 16:35] Hinton commented on #91
True, removed the driver and added Request. 56f7fc2cdb67f158093cece53f943a6aa23557ed

[2013-01-25 17:01] Hinton opened #97 "Last_Post user select query (Category view)."
The forum topic list does additional unwanted sql selects for the last_post user object.

I haven't been able to get it to join the last_post.user object, not even sure if it's possible as it's nested. It's also creating a quite complicated query.

Do we need to show what user last replied to the thread, and if we do how do we best solve it, doing a select for each topic is unacceptable.

[2013-01-25 17:28] curtisdelicata commented on #97
I think we should show the last replied. Unsure on best way to implement though.

[2013-01-26 00:21] Hinton opened #98 "Move breadcrumb to View classes"
I have been unhappy with the breadcrumb solution for a while, I designed it as a static class, being more or less a simple array with add and get being its only functionality.

I believe it would be more "correct" to have the breadcrumb logic inside the view classes. We could still retain most functionality such as adding breadcrumb in the before function by better extending classes for views.

We

[2013-01-26 04:00] happyDemon commented on #98
I'm guessing this is what you're looking for: http://laravel.com/docs/ioc ?
The actual code is here: https://github.com/laravel/laravel/blob/master/laravel/ioc.php

It's uses the event library which we already have ^^

Edit: there's a workaround that wouldn't require this I just noticed xD nevermind ^^

[2013-01-26 09:09] curtisdelicata commented on #98
Using views instead of controller sounds the best way.

[2013-01-26 10:07] curtisdelicata opened #99 "Registration email error"
ErrorException [ Strict ]: Declaration of Email::factory() should be compatible with Kohana_Email::factory($subject = NULL, $message = NULL, $type = NULL)

I tried adding changing it from:

public static function factory(Abstract_View_Email, $view = NULL, $message = NULL, $type = NULL)

to:

public static function factory(Abstract_View_Email $subject = NULL, $view = NULL, $message = NULL, $type =

[2013-01-26 13:33] Hinton commented on #98
@happyDemon My goal was to remove the breadcrumb class and move the breadcrumb data to the view classes.

[code]

[2013-01-26 13:39] #99 closed, assigned to nobody

[2013-01-26 19:51] curtisdelicata commented on #72
Should we check if last_login < x amount of time (30 minutes maybe) show the users.

[2013-01-26 20:07] Hinton commented on #72
That wont work, if a user idles with the browser open he will expire the 30min time. We could check the value on every pageload and update if needed.
But is a "users online" feature something we are going to need?

[2013-01-27 08:47] curtisdelicata commented on #72
I guess your right, that would be the right way. I don't think it would be worth the extra queries, this should be optional and not required.

Closed.

[2013-01-27 08:47] #72 closed, assigned to nobody

[2013-01-27 21:59] Hinton commented on #90
I've spent some time writing the new build.xml script, and bundled it in two parts, the automatic (CI) version and the manual version you want to run at your local computer.

So far it supports size check, using phploc and code style check using PHP_CodeSniffer.

To build it you need to have ant installed, and install the build scripts (phploc, phpcs) using Composer, http://getcomposer.org/.

[2013-01-27 22:01] Hinton commented on #90
@happyDemon You can use the build script to check the coding style, `ant phpcs`. Quite sure it will generate quite a few warnings now when we haven't checked the code style for a long time.

[2013-01-28 15:39] happyDemon commented on #46
I should probably add a HTML whitelist filter for the usershop description, aswell as do some xss cleaning.
Next up, checking if everything works.

I can't really implement user shop logs before the Log helper we were discussing is finished, who's working on this? @hinton layed out some basic functionality a while ago.

[2013-01-28 20:34] curtisdelicata commented on #46
You can use HTML Purifier for XSS cleaning. Simply call Security::xss_clean($variable).

The best way is probably how we do it for forum in the model.

[code]

[2013-01-29 10:40] happyDemon commented on #46
Thanks man, from doing some reading up on HTML purifier it seems that they already whitelist quite some HTML tags.

Although I'm a bit worried, we're using a 2 year old version of HTML purifier (through shadowhand's repo), I can't really access the modules tree here on github right now to actually check the version, but it seems really outdated.

[2013-01-29 10:54] curtisdelicata commented on #46
It is the best white list as far as I know.

I forked shadowhands module, updated it for 3.3 and I also downloaded the latest HTML Purifier to the vendor folder so it is up to date.

[2013-01-29 11:07] happyDemon commented on #46
ok :D I was basing myself on the version shadowhand had hardcoded in his class, so thanks for taking away my worries :D

[2013-01-29 12:45] happyDemon commented on #53
Just pushed a commit to manage the pet species, next commit i'm adding the ability to manage a specie's colors and than it should be complete.

If there's anything specific that needs to be added let me know ^^

[2013-01-30 10:58] curtisdelicata commented on #53
Thanks.

[2013-01-31 14:53] happyDemon commented on #59
How would this work? or how and where would we integrate this?

[2013-01-31 15:39] curtisdelicata commented on #59
I am unsure if this is required for 1.0.

NPC shops is covered in the shop issue. NPC would be for quests, which is probably too complicated and unneeded to be included in Modular Gaming.

I'm considering closing this issue?

What do you think? @happyDemon @hinton @Lewis

[2013-01-31 15:56] happyDemon commented on #59
I could get in quests in the 1.0 release, it's basically a bulked up version of the cookbook ^^

[2013-01-31 16:12] happyDemon commented on #59
I would be talking about a simple level up quest type of deal, to get people started (e.g. define which items to look for / they get as a prize per level, including points as a price). That would be a small update to the cookbook script.

[2013-01-31 16:46] happyDemon opened #100 "Pets cleanup"
I pushed an commit today to add pet folders (currently pet image urls are hard coded based on their ID) to offer a more modular way of dealing with those images.

As a result I went through a few of the templates and I've did a bit of editing, but I'm sure a few things broke.

Tomorow I'm going to do a full sweep of all the code in the pet module to see if I can improve the code's modularity.

[2013-01-31 16:48] Hinton commented on #59
Quests is a quite wide area, it could involve more than just items, like battles.

[2013-01-31 16:51] happyDemon opened #101 "More expresive views"
I think it might be helpful for templating in general if we'd add every available property in their respective views (meaning every property we would set in the controller when filling the view class with data).

This would make it easier to reference them from a templating stand point and wouldn't require a developer to go peek at the controller code.

For certain properties we could add some doc

[2013-01-31 16:54] happyDemon commented on #59
I'll be sure to make it modular enough so that could be added once the battle script would be finished. This would simply be a quest level description (e.g. the description could be item|battle).

Are we including battle in the 1.0 release?

[2013-01-31 16:54] Hinton commented on #101
Yes, definitely a good idea. I've been trying to do so myself whenever I use a property. We should use comments to describe the type of the property.

[2013-01-31 16:55] happyDemon commented on #101
I've been putting it off xD _naughty me_ o.O
But it's something that I've been starting to worry about since we're 2 months away from a release.

[2013-01-31 16:56] happyDemon commented on #59
just went through the tickets, should've looked before asking ^^

[2013-01-31 19:45] Hinton commented on #98
I created a new branch with a new breadcrumb design. @curtisdelicata, @happyDemon, @Lewis could you all take a look and decide if it's an improvement over the old?

[2013-02-01 09:50] curtisdelicata commented on #98
It doesn't look as nice as the breadcrumb function currently. I guess if it is the proper way to have it in the View then feel free to proceed.

[2013-02-01 09:52] curtisdelicata commented on #96
Are we still going to be sending through the CSRF token with all POST requests?

[2013-02-01 09:53] curtisdelicata commented on #100
I can't look at the code at the moment as not on my laptop. Is it still possible for locked colours and locked species (I think I seen locked species but not locked colours??)

[2013-02-01 09:54] curtisdelicata commented on #59
Yes battle should be included in 1.0

[2013-02-01 10:19] happyDemon commented on #100
I think you mean it the other way around? I haven't seen the locked pet species xD I could implement this (e.g. the locked pet species could have a create limit in the adopt, once it reaches 0 they'd disapear)

[2013-02-01 10:20] happyDemon commented on #96
yupyup, this is going to be part of the clean up today, all post ajax requests will be sending the csrf token.

[2013-02-01 10:21] happyDemon commented on #98
I'm going to have a look at this the second I get home ^^

[2013-02-01 12:04] curtisdelicata commented on #100
Yes you are correct. I meant are there still locked colours. Locked species could be useful too.

[2013-02-01 12:05] curtisdelicata commented on #100
Locked colours would be used with 'paint brushes'. As long as that works I am happy.

Do not worry about locked species though, we don't need that for 1.0

[2013-02-01 12:06] curtisdelicata commented on #98
Could we call it using a similar method to how we called it in the Controller? As it looked cleaner with Breadcrumb::add

[2013-02-01 13:57] Hinton commented on #98
The other alternative would be to have a function inside the view, `add_breadcrumb($title, $url)`, and place the call inside the constructor.

[code]

[2013-02-01 14:09] Hinton commented on #98
Hmm, on a second thought, that won't work, considering we need to set properties before calling the breadcrumb.

[2013-02-01 16:13] Hinton commented on #64
Opening this issue again.

The poll action in Topic is quite messy, and we should consider moving it to it's own controller, or split it into multiple actions.

[2013-02-01 16:53] Hinton commented on #90
Added a phpcs-html target, it generates a html report from the checkstyle xml file, with all coding style warnings. To run it use `ant phpcs-html`.

[2013-02-01 22:58] #100 closed, assigned to happyDemon

[2013-02-01 22:59] #53 closed, assigned to happyDemon

[2013-02-01 22:59] #54 closed, assigned to happyDemon

[2013-02-01 23:27] happyDemon commented on #79
I'm thinking we could make use of the jQuery dataTables plugin, found an article that shows it's easy to integrate with bootstrap's css (http://datatables.net/blog/Twitter_Bootstrap).

This could come in handy for 90% of the admin pages, next to that most of the hard work could be handled by this module: https://github.com/morgan/kohana-datatables.

Next to that I found neat little image uploader

[2013-02-02 01:01] #98 closed, assigned to Hinton

[2013-02-02 09:40] curtisdelicata commented on #79
dataTables and kohana-datatables looks interesting.

I was going to ask about if we were going to have image upload.

[2013-02-02 11:36] curtisdelicata commented on #96
Ok thanks

[2013-02-02 11:43] curtisdelicata commented on #28
Messaging should use type a head AJAX for sending to username. Maybe reply should show username too. I think we should keep the id for internal use.

[2013-02-02 13:55] Hinton commented on #28
We could use http://jasny.github.com/bootstrap/javascript.html#typeahead
We should send the username in the post, and look up the user object serverside.

[2013-02-02 16:44] Hinton commented on #24
Opening this issue again, we want to have different kind of error pages.

403, permission denied should display a login page (if he's not logged in, otherwise display a regular error page), HMVC request to user/login?
404, should display some helpful information that can help the player find the resource he is looking for, search?

[2013-02-02 16:45] Hinton commented on #24
There are a few ways we can approach this, I'm thinking we should delegate it and have a controller with HMVC requests from the HTTP exception handler. If the action is not found (action_code) it should display the generic error page otherwise use the action.

[2013-02-02 19:38] happyDemon commented on #28
typeahead comes bundled with twitter bootstrap.

I've prepared a base for this, well I already implemented it (inventory -> gift to user uses typeahead to retrieve possible username).
it sends an ajax request to the search controller which returns a list of usernames.

https://github.com/hinton/mg/blob/master/modular-gaming/item/assets/js/item/inventory/index.js   --> starting line 86
https://gith

[2013-02-04 16:02] Lewis commented on #96
Ok

[2013-02-04 16:07] Lewis commented on #64
Ok.

[2013-02-06 23:40] Hinton commented on #81
I was thinking that we should go over our current database design, add more indexes and optimize the length.

The user table is currently quite bloated, we should try to move our stuff we no longer need from it.
For example there should be no need to have avatar, gravatar, avatar_id. And what purpose does users_avatars serve? I fail to see how a user can have many avatars, but maybe I'm missing so

[2013-02-06 23:43] Hinton opened #103 "Documentation"
We should get started on our documentation.

We should docblock to most properties in our classes, and write some documentation on our features and design. It's easy to get lost in our current code.

**API documentation**
Includes adding docblock to all properties, docblock headers to all our files, and documenting all functions. It should include adding all properties to view class according to #

[2013-02-07 15:41] curtisdelicata commented on #81
users_avatars is because the table is a list of avatars they have unlocked I thought? and avatar_id links to their current avatar?

[2013-02-07 19:23] happyDemon commented on #81
yup curtis is right. avatar_id is for the user's current active avatar, while users_avatars holds unlocked avatars the users can use.

[2013-02-07 19:32] happyDemon commented on #81
You're right by the way, we should add correct Keys so we can make use of  CASCADE on DELETE. This would help the ORM delete any records related to the key. for example when a user's deleted we'd want to delete all data linked to the users (user_tokens, user_items, user_avatars) since the data would otherwise be a useless waste of DB space.

[2013-02-07 19:34] Hinton commented on #81
Yea, I'm working on that. I added them for users_avatars but user_titles still misses it.

[2013-02-10 00:08] Hinton commented on #4
Wondering a bit about how the database should be designed.

I could add a field called reset_token, but it feels cluttered if we ever need a similar solution in the future.

Kohana Auth provides the user_tokens table, it's used by the remember me feature, and would be a better solution. However it doesn't provide a way to have "multiple" token types and has some extra data we wont need (like user_

[2013-02-10 01:43] Hinton opened #104 "Add help-block to forms"
Most (or all) of our forms are currently missing help text blocks. Help blocks are useful for explaining what values a input should have, how long it should be and if it is required.

We should consider the best way to implement it, messages with :min-length, :max-length variables?
Should we use regular `<span class="help-block">` or tooltips?
How do we mark a value to be required?
- [ ] Admin
- [

[2013-02-10 01:44] Hinton opened #105 "Form validation"
We need a form validator.

It should preferable use html5 validation.
- [ ] Admin
- [ ] Core
- [ ] Forum
- [ ] Game
- [ ] Item
- [ ] Message
- [ ] Pet
- [ ] User

[2013-02-10 12:55] curtisdelicata commented on #4
Using user tokens sounds best. User agent is useful?

[2013-02-10 18:17] happyDemon commented on #4
Could we have a user_settings table
id, user_id, property, value

We could store data there that we don't need on every page load (e.g. forum signature, reset_token, avatar, ..)
the property could be: forum.signature, reset, avatar.

This would open up posibilities when developing further; quests could store which level the user's at (quest.{id}.level)

[2013-02-10 18:25] happyDemon commented on #104
add the HTML5 tag required at the end of your input tag:

[code]

 Bootstrap would border the input tag in red the second you type anything in it. If it's not required bootstrap will border it blue.
We could also append an exclamation icon at the end of every required field (that seems a bit too much though and could clutter the UI)

For help blocks I think this might look good:

[code]

[2013-02-10 18:27] Hinton commented on #4
Having a user_settings table sounds like a good idea, would remove module stuff from the user table. However we would need a good way to implement it, it's not reasonable to run an additional query to load such data.

Consider the following case.
Browsing a forum topic, for each post in the topic we would have to load the avatar and signature. That's 1 additional query per post.

[code]

[2013-02-10 18:31] happyDemon commented on #49
- [x] Index - browse trading lots
- [x] Create - show items to create a lot
- [x] - Process - create a lot
- [x] Lot - View a lot (show bids if owner, show player's bid if bid was made)
- [x] - delete - Delete the specified lot
- [x] Bid - show items to bid on a lot
- [x] - Process - actually bid on a lot
- [x] - Accept - accept a bid
- [x] - Reject - reject a bid
- [x] - Retract - take a bid back

[2013-02-11 12:10] #46 closed, assigned to happyDemon

[2013-02-12 23:52] Hinton opened #106 "User preferences"
Our current way of dealing with user preferences have been to simply throw all options into the user table. It's quite a unreasonable way to deal with it, and we need a better way.

One way to deal with it would be to have a user_preferences table containing key, value data. This might turn out to be quite slow to process as joining 5-20 tables every time we load a user isn't acceptable for perfor

[2013-02-13 11:20] curtisdelicata commented on #106
This sounds good. I cannot think of any other way.

[2013-02-13 13:31] curtisdelicata commented on #96
Can this now be closed?

[2013-02-13 13:31] curtisdelicata commented on #90
Can this now be closed?

[2013-02-13 13:32] curtisdelicata commented on #86
Can this now be closed?

Does asset-merger handle this?

[2013-02-13 14:39] happyDemon commented on #86
yup, but I'm stll working on it, it's not stable at the moment

[2013-02-13 16:34] happyDemon commented on #86
The new asset branch should now work correctly with the asset-merger module

[2013-02-13 16:42] happyDemon commented on #86
this means that in asset config files you can now specify fallback files and conditionals in the option property.

As an example for CSS files you could add an internet explorer conditional like so:

[code]

https://github.com/OpenBuildings/asset-merger#ie-conditional-comments

The options property in JS files could contain a local fallback when loading remote files
https://github.com/OpenBuilding

[2013-02-13 21:52] happyDemon commented on #96
yup, should be complete now

[2013-02-13 21:52] #96 closed, assigned to happyDemon

[2013-02-14 16:06] curtisdelicata commented on #81
Can this be closed now as migrations have all been written?

[2013-02-14 16:09] happyDemon commented on #81
hold on, after some testing I seem to be getting an erro in the trades migrations

[2013-02-14 16:25] happyDemon commented on #81
oki trade migrations are all fixed up, we can finaly make use of migrations :D

[2013-02-14 16:25] #81 closed, assigned to nobody

[2013-02-14 16:26] happyDemon commented on #86
_copy from hall_

with this latest push to the asset branch I've run into some trouble
the main site renders all the assets
but in the admin they won't show up
if I do a var_dump I see that they are being generated though
if I do an echo they do get printed
they just don't get show up in the template o.O
anyone who can help? xD

[2013-02-15 15:31] Hinton opened #107 "Rename modular-gaming directory to modulargaming"
We should rename the modular-gaming directory to modulargaming, or mg. It's quite bothersome having a space in the directory and it looks out of place compared to all other locations.

[2013-02-15 15:34] happyDemon commented on #107
+1
On Feb 15, 2013 4:31 PM, "Oscar Hinton" notifications@github.com wrote:

[2013-02-15 15:35] Hinton commented on #107
We need to decide if we should go with mg or modulargaming. Modulargaming is quite a bit to type, so mg might be better.

[2013-02-15 17:32] curtisdelicata commented on #107
I think modulargaming is best as it is descriptive. mg is not obvious.

[2013-02-15 17:34] Lewis commented on #107
I think modulargaming is better. It looks odd with the hyphen.

[2013-02-15 17:41] #107 closed, assigned to nobody

[2013-02-15 23:11] Hinton commented on #106
I completed the initial version of user_properties. What's left to do is change everything to use it.

I discussed with @happyDemon how we could deal with avatars and my suggestion is to use a "drivers" system. Each avatar system has it's own class that extends the avatar base class, with a few functions such as `url`, `validate`, `save($data)`.

For example the gravatar class would look something

[2013-02-15 23:17] Hinton opened #108 "Better Avatar system"
Split from #106.

I discussed with @happyDemon how we could deal with avatars and my suggestion is to use a "drivers" system. Each avatar system has it's own class that extends the avatar base class, with a few functions such as `url`, `validate`, `save($data)`.

For example the gravatar class would look something like this:

[code]

We should provide a clean wrapper for it in the user model, some

[2013-02-16 00:07] Hinton commented on #108
The avatar system mostly works, what's left is to fix the user settings page.
But it needs to be completely rewritten to be more modular, see #106.

[2013-02-16 10:54] curtisdelicata commented on #106
Sounds good.

[2013-02-16 10:57] curtisdelicata commented on #108
We would need to update everything that references user settings? (Signature and avatar etc for forum?)

[2013-02-16 11:12] curtisdelicata commented on #108
Should avatar be in core or user module? I guess core (Where you put it) makes sense, up to you.

[2013-02-21 16:14] Hinton opened #109 "User profile and settings"
The user profile and settings page needs to be redone.
It needs to modify able from events.

[2013-02-22 10:23] happyDemon commented on #86
just pushed an update to WIP-assets branch, needs the asset-merger module to be updated though (there's a bug in the older version).
Not a lot of the syntax was changed, so updating our current codebase was easy.

I've got this working on my local instalation (I hope I pushed everything though).

Oscar mentioned something about loading all on-site assets at once so they all get merged into 1 file

[2013-02-22 10:26] #57 closed, assigned to happyDemon

[2013-02-22 10:38] #49 closed, assigned to happyDemon

[2013-02-22 10:39] Hinton commented on #86
Well, we don't exactly have a need for it at the moment, but it should be fairly simple changes so it might be worth looking into it now rather than putting it off.

[2013-02-22 11:00] curtisdelicata commented on #97
I'm sure that I saw on hall that you found out a way to do a join?

[2013-02-22 11:01] Hinton commented on #97
Ah yes, this should be closed.

[2013-02-22 11:01] #97 closed, assigned to nobody

[2013-02-22 11:40] happyDemon commented on #67
I have an example of how we could implement it : https://github.com/hinton/mg/blob/master/modulargaming/item/classes/Item.php   lines 188-247

[2013-02-22 11:44] happyDemon commented on #67
if you want to see it in-action:
https://github.com/hinton/mg/blob/master/modulargaming/item/classes/Controller/Trade.php

check the bid, accept, reject, retract, delete actions, they log and notify

[2013-02-22 17:42] happyDemon commented on #45
I'm nearly done with the shop script, still need to write the cron for it though.

Should we include price haggling as an option?

[2013-02-22 17:52] happyDemon commented on #45
and should we include a buy throttle (e.g. a user can buy a maximum of X items in Y amount of time before a cooldown period of Z seconds is initiated where the user can't buy any items) to give autobuyers a hassle

[2013-02-22 20:55] #45 closed, assigned to happyDemon

[2013-02-23 13:02] happyDemon opened #110 "Composer"
I talked about this with Oscar last night.

After the release we might want to have a central place where we can offer our own MG modules, making it easier for users to update (e.g. by running php composer.phar update).

We could open this up for third-party developers there's 1 place where people can install MG modules from.

We would need to set up a packagist isntallation on modular gaming.com

[2013-02-23 13:03] #55 closed, assigned to happyDemon

[2013-02-23 13:31] #67 closed, assigned to happyDemon

[2013-02-23 13:44] happyDemon commented on #79
I think we should take the time for this in the next release (1.1.0), otherwise I don't see most of this being included or being rushed.

[2013-02-23 18:14] happyDemon commented on #58
Uploaded the first version of the admin,
add shop stock support (and that seems to be a hassle xD), should be done later tonight ^^

[2013-02-23 22:53] Hinton commented on #108
Hmm, I wonder if we should close this, the only thing left is the user settings page.

[2013-02-24 17:56] #58 closed, assigned to happyDemon

[2013-02-24 19:32] curtisdelicata commented on #108
We need to make sure forum supports the new avatar as well as user profile obviously.

[2013-02-24 19:33] Hinton commented on #108
The forum should already support them, user profile is currently being redone.

[2013-02-24 21:34] #94 closed, assigned to nobody

[2013-02-25 18:54] curtisdelicata commented on #108
I forgot that we weren't changing the avatar_id field. Forum should work without changes.

[2013-02-25 19:30] Hinton commented on #108
Well, all avatars fields from the user should be removed. We should use the new avatar() function to retrieve the avatar data.

[2013-02-27 11:47] curtisdelicata commented on #79
Mobile support:

We can support both because bootstrap should scale to the correct screen size? Do the Javascript prompts also scale?

Client-side template support:

This has been completed?

Automation of handling policies:

This is a good idea. What do you think @hinton

Handling ajax requests:

This has been completed?

Interface unity:

Every module will have the same style of admin? (Using da

[2013-02-27 11:48] curtisdelicata commented on #108
Feel free to do so. Thanks.

[2013-02-27 11:48] curtisdelicata commented on #106
How is this progressing?

[2013-02-27 11:49] curtisdelicata commented on #110
This is a good idea. It will have to wait until 1.1.0 as it is not urgent.

[2013-03-01 14:04] curtisdelicata opened #111 "Inventory error"
ErrorException [ Fatal Error ]: Class 'Move_Safe' not found
DOCROOT/modulargaming/item/classes/Item/Command.php [ 24 ]

[2013-03-01 14:06] curtisdelicata opened #112 "Pet Admin - Assigning colours"
Database_Exception [ 1048 ]: Column 'pet_specie_id' cannot be null [ INSERT INTO `pet_species_colours` (`pet_specie_id`, `colour_id`) VALUES (NULL, '7') ]

[2013-03-01 14:07] curtisdelicata opened #113 "Pet Admin - Creating pet specie"
Kohana_HTTP_Exception [ 403 ]: CSRF check failed!

[2013-03-01 14:08] curtisdelicata commented on #113
Same error on edit and delte.

[2013-03-01 14:09] curtisdelicata opened #114 "Pet Admin - Colours"
DataTables warning (table id = 'data-table'): Requested unknown parameter '0' from the data source for row 1

[2013-03-01 14:09] curtisdelicata commented on #114
Deleting causes an error too:

Kohana_HTTP_Exception [ 404 ]: The requested URL admin/pet/colour/remove was not found on this server.

Is it supposed to be admin/pet/colour/delete  ?

[2013-03-01 14:12] curtisdelicata opened #115 "Item Admin - Creating"
Kohana_HTTP_Exception [ 404 ]: Unable to find a route to match the URI: assets/img/items/foods/tmp

ErrorException [ Fatal Error ]: Class 'Pet_Feed' not found
DOCROOT/modulargaming/item/classes/Item/Command.php [ 24 ]

[2013-03-01 14:13] curtisdelicata opened #116 "Item Admin - Gifting Item"
It successfully gifts an item but has an error about log:

Database_Exception [ 1241 ]: Operand should contain 1 column(s) [ INSERT INTO `logs` (`user_id`, `location`, `alias`, `agent`, `ip`, `type`, `message`, `params`, `time`) VALUES ('1', 'admin/item/gift', 'item.in.admin.root', ('Chrome', 'Linux'), '127.0.0.1', 'item', 'Player recieved :amount :item_name @ :origin', '{\":amount\":\"1\",\":item

[2013-03-01 14:13] curtisdelicata commented on #115
Delete works ok though.

[2013-03-01 14:15] curtisdelicata opened #117 "Item Admin - Creating types"
ErrorException [ Warning ]: mkdir(): No such file or directory
DOCROOT/modulargaming/item/classes/Controller/Admin/Item/Types.php [ 99 ]

[2013-03-01 14:37] #113 closed, assigned to happyDemon

[2013-03-01 14:39] curtisdelicata commented on #114
DataTables warning (table id = 'data-table'): Requested unknown parameter '0' from the data source for row 1

For editing specie too.

[2013-03-01 14:48] #117 closed, assigned to happyDemon

[2013-03-01 14:54] curtisdelicata commented on #114
It appears to save ok though.

[2013-03-02 21:39] happyDemon commented on #114
it's supposed to be remove, the init.php file was using an old standard, should be fixed now

[2013-03-02 21:40] happyDemon commented on #114
I'll still have to check if it's been fixed (didn't think about fixing the edit bug), was a little sleep deprived o.O
I'll try to get this done tomorow ^^

[2013-03-03 17:30] curtisdelicata commented on #116
I still get a similar error:

Database_Exception [ 1241 ]: Operand should contain 1 column(s) [ INSERT INTO `logs` (`user_id`, `location`, `alias`, `agent`, `ip`, `type`, `message`, `params`, `time`) VALUES ('1', 'admin/item/gift', 'item.in.admin.root', ('Chrome', 'Linux'), '127.0.0.1', 'item', 'Player recieved :amount :item_name @ :origin', '{\":amount\":\"1\",\":item_name\":\"1 Malta\",\":origin

[2013-03-03 17:31] curtisdelicata commented on #111
ErrorException [ Fatal Error ]: Class 'Item_Command_Item_Command_Pet_Feed' not found

[2013-03-03 17:37] #115 closed, assigned to happyDemon

[2013-03-03 18:14] curtisdelicata commented on #116
I fixed it.

$log = $item->to_user($user, 'admin.' <bold>.<bold>  $this->user->username, $this->request->post('amount'));

$log = $item->to_user($user, 'admin.' <bold>,</bold>  $this->user->username, $this->request->post('amount'));

Now I get this error:

ErrorException [ Fatal Error ]: Call to undefined method Item_Exception::errors()
DOCROOT/modulargaming/item/classes/Controller/Admin/Item.php

[2013-03-03 18:17] curtisdelicata commented on #116
If it is calling Item_Exception:errors does that mean it is failing to log now?

[2013-03-03 19:37] #111 closed, assigned to happyDemon

[2013-03-03 20:04] curtisdelicata commented on #112
I renamed pet_specie_id to specie_id so it matches with using colour_id

I thought it would fix this but it did not. I checked that the form submits it but it doesn't work.

[2013-03-03 21:59] Hinton commented on #106
We just have to update all existing calls to about, signature and the other fields before we close this.
I decided to finish user settings before, as there isn't any point in updating the old system when we need to do a complete rewrite for the new.

[2013-03-04 17:52] curtisdelicata commented on #116
I have reverted the change. I now get the same error as before:

Database_Exception [ 1241 ]: Operand should contain 1 column(s) [ INSERT INTO `logs` (`user_id`, `location`, `alias`, `agent`, `ip`, `type`, `message`, `params`, `time`) VALUES ('1', 'admin/item/gift', 'item.in.admin.root', ('Chrome', 'Linux'), '127.0.0.1', 'item', 'Player recieved :amount :item_name @ :origin', '{\":amount\":\"1\",\

[2013-03-04 17:54] curtisdelicata commented on #116
Is it missing params?

Also shouldn't it say the amount and item name and not :amount and :item_name?

[2013-03-04 17:58] curtisdelicata opened #118 "item Admin - Creating an item, image"
When creating an item it doesn't seem to display the image. I believe the image is uploaded though.

[2013-03-04 17:59] curtisdelicata commented on #118
It tries to display: http://localhost/assets/img/items/foods/tmp

[2013-03-04 18:01] curtisdelicata commented on #118
I have assets/img/items/5 but that is empty. Creating a new item did not create a directory/image

[2013-03-05 15:50] curtisdelicata commented on #118
Creating an item with a 80x80 image works.

Creating an item with the wrong size gets stuck on processing and does not error.

[2013-03-05 15:54] curtisdelicata opened #119 "Log"
ErrorException [ Fatal Error ]: Call to undefined method Log::create()
DOCROOT/modulargaming/item/classes/Controller/Inventory.php [ 239 ]

I have checked the Log Class and Log::create() should work.

[2013-03-05 16:06] curtisdelicata commented on #119
Item still uses Item::log in places. Shouldn't it be using Log::create ?

[2013-03-05 16:11] curtisdelicata opened #120 "Item Admin - Paginate"
Paginate error:

Database_Exception [ 1052 ]: Column 'id' in where clause is ambiguous [ SELECT `type`.`id` AS `type:id`, `type`.`name` AS `type:name`, `type`.`action` AS `type:action`, `type`.`default_command` AS `type:default_command`, `type`.`img_dir` AS `type:img_dir`, `item`.`id` AS `id`, `item`.`type_id` AS `type_id`, `item`.`name` AS `name`, `item`.`description` AS `description`, `item`.`im

[2013-03-05 16:20] happyDemon commented on #118
This should be fixed with 8e2f018c661af6656fe84b2ddfd8e9d372d7a432 and 260e51d2dc74047c59c81ddd8427f0877ec8f253

[2013-03-05 16:24] happyDemon commented on #116
nope, it's being run through Kohana's __() function which parses the string (http://kohanaframework.org/3.3/guide-api/I18n)

[2013-03-05 16:42] curtisdelicata commented on #119
I changed it to use Log::create but #119 applies

[2013-03-05 16:53] curtisdelicata commented on #118
Failed to load resource: the server responded with a status of 404 (Not Found) http://localhost/admin/templates.js
Failed to load resource: the server responded with a status of 403 (Forbidden) http://localhost/assets/img/items/foods/tmp/
Uncaught TypeError: Cannot call method 'join' of undefined admin.js:288

[2013-03-05 16:54] curtisdelicata commented on #118
That is what I get when I try an image with the wrong size.

[2013-03-05 17:09] curtisdelicata opened #121 "item Admin - Creating an item, auto complete"
It doesn't auto complete commands for recipe, paint and transform.

[2013-03-05 19:40] #119 closed, assigned to happyDemon

[2013-03-05 19:59] curtisdelicata commented on #116
Gifting an item from Inventory just outputs '[object Object]'. It also only auto completes once I typed the four letters.

[2013-03-05 20:03] curtisdelicata opened #122 "Item - Feeding pet"
Feeding pet has a similar log error:

Database_Exception [ 1241 ]: Operand should contain 1 column(s) [ INSERT INTO `logs` (`user_id`, `location`, `alias`, `agent`, `ip`, `type`, `message`, `params`, `time`) VALUES ('1', 'inventory/consume/5', 'consume1', ('Chrome', 'Linux'), '127.0.0.1', 'item', ':item_name consumed', '{\":item_name\":\"Test\"}', 1362513378) ]

[2013-03-05 20:09] #118 closed, assigned to happyDemon

[2013-03-05 20:22] curtisdelicata commented on #112
Database_Exception [ 1048 ]: Column 'specie_id' cannot be null [ INSERT INTO `pet_species_colours` (`specie_id`, `colour_id`) VALUES (NULL, '1') ]

[2013-03-07 11:24] happyDemon commented on #120
The paginate module does not handle relations, nor is this necesary, I'll create a seperate way to do this, but isn't important at the moment.

[2013-03-07 11:25] #114 closed, assigned to happyDemon

[2013-03-07 11:27] happyDemon commented on #121
how do you mean, does it give an error in the console? or isn't it sending the request, because by checking the code it should be working

[2013-03-07 11:29] happyDemon commented on #116
if it's for the username then that's normal that it only starts at 4 chars, that's the min_length in the model, would load too much data otherwise.

I'm not getting the [object, Object] error though

[2013-03-07 11:37] happyDemon commented on #112
should be fixed, seemed like list.js used an underscore instead of - when adding the pet specie id value to the hidden field

[2013-03-07 11:38] #112 closed, assigned to happyDemon

[2013-03-07 18:55] curtisdelicata commented on #120
ErrorException [ Recoverable Error ]: Argument 1 passed to Kohana_Paginate::search_columns() must be of the type array, string given, called in /var/www/modulargaming/item/classes/Controller/Admin/Item.php on line 153 and defined
6:54 PM
ErrorException [ Recoverable Error ]: Argument 1 passed to Kohana_Paginate::search_columns() must be of the type array, string given, called in /var/www/modularga

[2013-03-07 18:59] #122 closed, assigned to happyDemon

[2013-03-07 19:02] curtisdelicata commented on #121
No errors.

I mean when you are defining which pet the item should transform into it does not auto complete the pet name. Same for recipe and paint.

[2013-03-07 19:04] curtisdelicata commented on #116
It gift the item successfully but it outputs  '[object Object]'

[2013-03-07 19:58] curtisdelicata opened #123 "Pet - Abandon a pet"
Database_Exception [ 1452 ]: Cannot add or update a child row: a foreign key constraint fails (`modulargaming`.`user_pets`, CONSTRAINT `user_pets_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE) [ UPDATE `user_pets` SET `user_id` = 0, `abandoned` = 1362686151 WHERE `id` = '1' ]

[2013-03-07 19:58] curtisdelicata commented on #123
I tried with a new database and latest minion migrations and I get the same error.

[2013-03-07 20:00] curtisdelicata commented on #123
It works when there is a user with the id of 0

[2013-03-07 20:07] #123 closed, assigned to nobody

[2013-03-07 20:07] curtisdelicata commented on #123
Using NULL fixes this.

[2013-03-07 20:11] curtisdelicata commented on #120
I fixed it by placing it in an array.

[2013-03-07 20:13] #120 closed, assigned to happyDemon

[2013-03-07 21:42] #109 closed, assigned to Hinton

[2013-03-07 21:42] Hinton commented on #108
Most of the avatar system is done, what's left is custom avatar (uploaded).
You can now set enabled avatars from config.

[2013-03-07 21:50] happyDemon commented on #116
in the notification box?

[2013-03-08 11:31] curtisdelicata commented on #116
Yes.

[2013-03-08 11:35] curtisdelicata commented on #116
Gifting item from admin now works fully. Gifting an item from user inventory errors and displays object:

Kohana_HTTP_Exception [ 404 ]: The requested URL inventory/search was not found on this server.

[2013-03-08 11:40] curtisdelicata commented on #121
Console says "No Properties"

[2013-03-08 11:41] curtisdelicata commented on #121
0: "Black"

It worked once but it didn't work again.

[2013-03-08 11:41] curtisdelicata commented on #108
Signature works but avatar doesn't display on forum.

[2013-03-08 12:01] curtisdelicata commented on #116
No error but it doesn't gift the item.

[2013-03-08 12:07] curtisdelicata commented on #106
Signature works in forum using the new code but avatar doesn't work (Set it to use gravatar)

[2013-03-08 12:08] curtisdelicata commented on #106
It doesn't work even if I use a valid Gravatar email. It shows it ok in user settings.

[2013-03-08 13:03] curtisdelicata opened #124 "Inventory - Feeding and play doesn't show up"
Not sure when this changed but I tested now and it doesn't let you feed or play with a pet anymore.

[2013-03-08 13:06] #116 closed, assigned to happyDemon

[2013-03-08 13:09] curtisdelicata opened #125 "Inventory - Gifting"
ErrorException [ Warning ]: Illegal string offset 'title'
DOCROOT/modulargaming/core/classes/Journal.php [ 76 ]

I still see [object Object] too.

[2013-03-08 13:11] curtisdelicata commented on #125
It does gift successfully but does not log/notify (I tried to use Journal::notify and that has error too)

[2013-03-08 20:32] curtisdelicata commented on #108
Works now after I renamed driver to be case sensitive.

[2013-03-08 20:32] curtisdelicata commented on #106
It works now that I updated the drivers to be case sensitive.

[2013-03-08 20:33] curtisdelicata commented on #106
Can this now be closed?

[2013-03-08 20:33] curtisdelicata commented on #108
Can this now be closed? Or is it waiting for custom avatar upload?

[2013-03-08 20:51] Hinton commented on #108
Waiting for avatar upload, it should be quite simple to do.

[2013-03-08 20:51] Hinton commented on #106
Not yet, we should have a migration that removes old fields from user table, and forum has to be updated (post-count).

[2013-03-09 01:16] #108 closed, assigned to Hinton

[2013-03-09 13:23] curtisdelicata opened #126 "Item Admin - Creating item, image upload"
Should item admin use the same image method as avatar upload?

[code]

[2013-03-09 13:54] curtisdelicata commented on #125
ErrorException [ Strict ]: Non-static method Journal::notify() should not be called statically, assuming $this from incompatible context

[2013-03-09 14:16] curtisdelicata commented on #125
It seems to have two notifies, one in transfer and one on the gift function. I deleted the transfer one and I get a different error:

ErrorException [ Fatal Error ]: Call to a member function notify() on a non-object
DOCROOT/modulargaming/item/classes/Controller/Item/Inventory.php [ 349 ]

[2013-03-09 14:18] curtisdelicata commented on #125
Actually are both required?

[2013-03-09 14:20] curtisdelicata commented on #125
Back to error:

ErrorException [ Strict ]: Non-static method Journal::notify() should not be called statically, assuming $this from incompatible context

DOCROOT/modulargaming/item/classes/Model/User/Item.php [ 102 ]

[2013-03-09 14:35] curtisdelicata commented on #125
If I change it to static I get a different error but setting it as static breaks item admin gift.

[2013-03-09 15:15] curtisdelicata opened #127 "Pet Admin - Editing pet specie"
DataTables warning (table id = 'crud-container'): Requested unknown parameter '0' from the data source for row 0

[2013-03-09 15:19] curtisdelicata opened #128 "Admin - templates.js missing"
I get an error that templates.js is missing.

[2013-03-09 15:41] curtisdelicata commented on #125
I was trying a lot of different thing to try and get it working. Sorry if I did anything wrong with it. @happyDemon

[2013-03-09 16:04] curtisdelicata commented on #127
It updates successfully though.

[2013-03-09 22:47] curtisdelicata opened #129 "Preview release"
As per @Hinton idea on Hall.

Should we migrate hinton/mg to modulargaming/modulargaming before we release 1.0 as it will hopefully interest people and will help us find any bugs.

[2013-03-09 22:47] curtisdelicata commented on #129
@Lewis
@HappyDemon

[2013-03-09 23:01] curtisdelicata commented on #129
When we are ready for preview release I think we should post on the following forums:

http://forum.kohanaframework.org/
http://kohana-modules.com/
http://www.virtualpetlist.com
http://community.bbgamezone.net/projects/
http://indie-resource.com/forums/portal.php
http://www.makewebgames.com/forumdisplay.php/284-Other-Game-engines
http://www.ohloh.net
http://www.pbbgdev.com
http://www.gamedev.net/i

[2013-03-10 00:05] #106 closed, assigned to Hinton

[2013-03-10 10:34] happyDemon commented on #125
most of the changes you made should be reverted as they break how the api was designed to be used :s

[2013-03-10 10:39] happyDemon commented on #129
thumbs up for this :D

[2013-03-10 11:14] curtisdelicata commented on #125
I now get same error as before:

ErrorException [ Warning ]: Illegal string offset 'title'

[2013-03-10 12:16] curtisdelicata commented on #125
Works now.

[2013-03-10 12:16] #125 closed, assigned to happyDemon

[2013-03-10 22:17] Hinton commented on #129
We should post on virtualpetlist, and http://forum.pbbghub.com/ seems to be a private forum for 4 games, so perhaps we should not post there.

[2013-03-11 11:47] curtisdelicata commented on #129
Your are right, I just noticed they are a private forum. I was just
about to add virtualpetlist

On 10/03/13 22:17, Oscar Hinton wrote:

[2013-03-14 11:20] curtisdelicata commented on #90
Can this be closed after we move the features to the correct modules?

[2013-03-14 11:39] curtisdelicata opened #130 "Points property"
Points needs to be updated to use set/get_property.

[2013-03-15 10:07] curtisdelicata commented on #130
I can't find where get_property is in forum?

[2013-03-15 10:08] curtisdelicata commented on #130
I found it in message:

'avatar' => $this->message->sender->avatar(),
'signature' => $this->message->sender->get_property('signature'),

[2013-03-15 10:08] Hinton commented on #130
View classes?

[2013-03-15 10:08] curtisdelicata commented on #130
I found it now, not sure how I missed it!

[2013-03-15 10:13] #130 closed, assigned to nobody

[2013-03-15 10:14] curtisdelicata commented on #124
The links do not appear.

[2013-03-15 15:40] #4 closed, assigned to Hinton

[2013-03-15 16:13] curtisdelicata commented on #86
Can this be closed now?

[2013-03-15 16:20] Hinton commented on #86
No, it's not working at all.

[2013-03-15 17:05] curtisdelicata opened #131 "Inventory - Shop blank page"
I updated inventory shop to use get/set_property. It worked until I added , 200

/var/www/system/classes/Kohana/Controller.php(84): Controller_Item_Shop->action_create()
4:38 PM
it is a blank page
4:38 PM
that was from error log
4:39 PM
fixed it I think
4:42 PM

Same error:
#1 /var/www/modulargaming/item/classes/Controller/Item/Shop.php(126): Kohana_ORM->__get('points')
#2 /var/www/system/classes/

[2013-03-15 17:46] #131 closed, assigned to nobody

[2013-03-17 00:15] Hinton commented on #86
Our current problem is that not all pages use the same assets, a few pages include special js files.
We have to start with including all the "frontend" javascript files on all pages.

[2013-03-21 09:12] curtisdelicata opened #132 "Admin - Pets - Policy"
Policy for pets admin.

[2013-03-21 09:13] curtisdelicata opened #133 "Admin - Item - Policy"
Policy for item admin.

[2013-03-21 09:46] #132 closed, assigned to curtisdelicata

[2013-03-21 09:54] curtisdelicata opened #134 "Abandoning pet fails"
Database_Exception [ 1452 ]: Cannot add or update a child row: a foreign key constraint fails (`modulargaming`.`user_pets`, CONSTRAINT `user_pets_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE) [ UPDATE `user_pets` SET `user_id` = NULL, `abandoned` = 1363859635 WHERE `id` = '2' ]

[2013-03-21 11:41] curtisdelicata opened #135 "Public forum"
I was talking about a public forum and @hinton mentioned that we should use our own code and not other software such as PhpBB.

I changed protected to FALSE and now I get this error.

ErrorException [ Fatal Error ]: Call to a member function can() on a non-object

DOCROOT/modulargaming/forum/classes/View/Forum/Category/View.php [ 67 ]

62  }
63
64  public function can_create()
65  {
66
67      ret

[2013-03-21 12:00] Hinton commented on #135
get_user returns null if user is not logged in. It's documented in the api docs.

[2013-03-21 15:20] curtisdelicata commented on #135
[code]

This works, but I assume isn't the best way of doing it.

[2013-03-21 15:38] curtisdelicata opened #136 "Shop stock update fails"
ErrorException [ Warning ]: Invalid argument supplied for foreach()

DOCROOT/modulargaming/item/classes/Controller/Item/Shop.php [ 197 ]

192
193         if ($this->request->method() == HTTP_Request::POST)
194         {
195             $lost_items = 0;
196             $errors = FALSE;
197             foreach ($this->request->post('item') as $id => $param)

[2013-03-21 15:38] curtisdelicata opened #137 "Shop log fails"
ErrorException [ Notice ]: Trying to get property of non-object

DOCROOT/modulargaming/item/classes/Controller/Item/Shop.php [ 254 ]

249         }
250
251         $this->view = new View_Item_Shop_Logs;
252
253         $logs = ORM::factory('Log')
254             ->where('alias', '=', 'user_shop.' . $shop->id)

[2013-03-21 15:45] #134 closed, assigned to nobody

[2013-03-21 16:30] curtisdelicata commented on #127
Same happens with pet colours.

This happens on both Firefox and Chromium on Ubuntu 12.10

[2013-03-22 10:13] curtisdelicata opened #138 "Creating Shop - Points"
When creating a shop it still takes 200 points if the title is invalid. When trying again it fails as the cached data is no longer 200.

[2013-03-22 11:47] #138 closed, assigned to nobody

[2013-03-22 11:49] curtisdelicata commented on #128
Is templates.js required as nothing seems to break?

[2013-03-22 13:06] curtisdelicata opened #139 "Default shops and items"
We need to have default shops and items in stock and the restock configuration.

I am happy to pay towards item art.

[2013-03-22 17:04] curtisdelicata commented on #139
We need a paint brush, in all the available colours.

A food, toy, recipe (maybe including the items required to make it) and two transform items (for both pets).

[2013-03-22 21:08] Hinton opened #140 "Use LESS version of bootstrap"
We should attempt to use the less version of bootstrap during development.

The main advantages is that we can access the variables such as colors making it easy to change things.

The assets system should compile LESS in production and otherwise include the javascript compiler? or with php during development to?

[2013-03-22 21:38] Hinton opened #141 "Forum create topic"
You can create a forum topic even if content is empty.
It will create a topic but not a post for it.
We should load both validation objects in the controller and validate them before creating.

It would also be a good idea to move the first post creation to topic model.

[2013-03-22 21:42] Hinton commented on #135
Perhaps this can be closed now?

We should consider redesigning the forum system, it looks quite bad design wise, perhaps @Lewis got any good ideas for the design?

I improved the topic list slightly but there are plenty of things to improve.

[2013-03-22 21:48] Hinton opened #142 "Database cleanup (indexes, constraints)."
We should go over the database and clean it up.

There are a few models that contain custom delete code (forum poll, category). Perhaps this code could be moved to the database with constraints?

We should also add more indexes and constraints for relationships to keep the database clean from "dead" data.

[2013-03-24 10:55] curtisdelicata commented on #135
I agree that we should remove custom delete code and use constraints instead. Do you have any ideas @Lewis @happyDemon @jannesiera

[2013-03-24 10:55] curtisdelicata commented on #140
I agree.

[2013-03-24 10:55] curtisdelicata commented on #141
I agree. Not sure about first post though, up to you.

[2013-03-24 10:58] curtisdelicata commented on #135
This works as expected. Closed.

[2013-03-24 10:58] #135 closed, assigned to nobody

[2013-03-24 10:58] curtisdelicata commented on #142
I agree that we should remove custom delete code and use constraints instead. Do you have any ideas @Lewis @happyDemon @jannesiera

[2013-03-24 21:17] Hinton commented on #142
We need to decide on a naming standard. Our current system is kinda messy and the naming makes no sense.

**Tables:**
Plural table names.

**Indexes:**
[Column name] with prefixes, uniq_ (Unique), fk_ (Foreign Key)

**Constraints:**
Kohana uses [table name]_ibfk_1

Should we follow Kohanas convention or modify it?

[2013-03-24 21:22] happyDemon commented on #124
This only happens when you don't have any pets (since the action wouldn't be of any use then). Shows up when you have a pet.

[2013-03-24 21:22] happyDemon commented on #126
This might be easier indeed, I'll start implementing ^^

[2013-03-24 22:15] happyDemon commented on #126
Pet admin's up next, will be for tomorow

[2013-03-24 22:21] #136 closed, assigned to happyDemon

[2013-03-24 22:24] happyDemon commented on #127
must be a problem with parsing the JSON on the server side, I'll get to it ^^

[2013-03-24 22:26] happyDemon commented on #137
This is very strange o.O will check it out tomorow

[2013-03-24 22:28] happyDemon commented on #86
We could make a minion task that reads out the global asset files from the config file and merges them?
having one extra js file on a page load here and there wouldn't hurt, would it?

if you agree I'll start on the task tomorow ^^

[2013-03-24 22:29] Hinton commented on #86
Well, it won't exactly hurt, but it will be an additional http get and it means you got no way to use a CDN easily.

[2013-03-24 22:32] happyDemon commented on #86
you're right there, we could combine them all together if that wouldn't bloat the one file too much (which is something I'd worry about in the admin)

[2013-03-25 08:59] curtisdelicata commented on #126
Thank you! Item creation works when you use 80x80 if you use any other size it fails though. Shouldn't it resize?

[2013-03-25 09:00] curtisdelicata commented on #142
We should follow Kohana conventions? Up to you.

[2013-03-25 09:04] curtisdelicata commented on #124
My mistake, I should of noticed that! It appears now but does not seem to work. I have tested when hunger is not 100.

I get an error about log too:

ErrorException [ Warning ]: Illegal string offset 'username'
DOCROOT/modulargaming/core/classes/Journal.php [ 71 ]

[2013-03-25 09:05] #124 closed, assigned to nobody

[2013-03-25 09:05] curtisdelicata opened #143 "Item - Feeding/Playing/Transforming pet"
Using items on pets does not work.

I get an error about log too:

ErrorException [ Warning ]: Illegal string offset 'username'
DOCROOT/modulargaming/core/classes/Journal.php [ 71 ]

[2013-03-25 09:08] curtisdelicata opened #144 "Shop update stock"
On stock update:

ErrorException [ Notice ]: Array to string conversion

SYSPATH/classes/Kohana/HTTP/Exception.php [ 15 ]

[2013-03-25 09:11] curtisdelicata opened #145 "Forum - Reply"
The policy must be wrong as it doesn't allow me to reply to a topic. Even though I am Admin.

[2013-03-25 09:13] curtisdelicata commented on #145
Delete, lock and sticky work.

[2013-03-25 10:08] #145 closed, assigned to nobody

[2013-03-25 10:30] happyDemon commented on #126
nope, the owner of the game should set the exact sizes in the config file, no resizing should occur.
I do hope it's returns an error in the UI when it's not the right size

[2013-03-25 10:38] curtisdelicata commented on #126
It doesn't return an error.

[2013-03-25 10:39] curtisdelicata commented on #126
In error console I get:

Kohana_HTTP_Exception [ 403 ]: CSRF check failed!

[2013-03-25 10:42] curtisdelicata commented on #126
I took a look and could not find anything. CSRF seems to be set in index.mustache

[2013-03-25 11:07] curtisdelicata opened #146 "Profile link for pet"
There is no link for a pet's profile.

[2013-03-25 11:08] #146 closed, assigned to nobody

[2013-03-25 11:38] curtisdelicata opened #147 "Shop update index"
Kohana_HTTP_Exception [ 404 ]: The requested URL shop/update><input type= was not found on this server.

[2013-03-25 11:38] #147 closed, assigned to nobody

[2013-03-25 13:59] Hinton commented on #9
Opening this again, the Policy based rules works fine but they get queried constantly, either we need to cache has() in Model_User or solve it some other way.

We also might want to have "permissions" in roles that can be modified from admin panel.

I made a quick api that could be used, the example uses forum post edit.

[code]

[2013-03-25 14:10] curtisdelicata commented on #9
Is it possible to cache the has?

I don't know if we should have role permissions managed by admin? I guess it is better for a granular approach, like Drupal. As it is better than defining a role or each action?? As in we could check for if role admin or role forum for forum?

Do what you think is best.

[2013-03-25 17:54] #133 closed, assigned to curtisdelicata

[2013-03-25 17:55] curtisdelicata opened #148 "Item - Creating item, error"
ErrorException [ Warning ]: strpos() expects parameter 1 to be string, array given
SYSPATH/classes/Kohana/Debug.php [ 251 ]

[2013-03-26 12:12] curtisdelicata commented on #139
What do you think about this artist as they is offering free work?

http://www.virtualpetlist.com/showthread.php/15805-Looking-to-do-some-Volunteer-work!

@hinton @happyDemon @Lewis @jannesiera

[2013-03-26 12:43] Hinton commented on #139
The art looks good, go ahead.

[2013-03-26 13:55] curtisdelicata commented on #139
Any suggestions for items?

I think a paint brush for each colour, a transform item for each specie, few foods, few toys and a recipe. Maybe let her choose what she wants to do for foods and toys.

[2013-03-26 16:38] curtisdelicata commented on #139
This would require restocks to be setup too? Will there be an admin panel for managing restocks? like http://www.happydemon.org/poc/admin/item

Edit: I found the restocks menu but it doesn't seem to save.

[2013-03-26 16:40] curtisdelicata commented on #129
I am happy with the draft now. I welcome any modifications. What do you all think?

@hinton @happyDemon  @Lewis @jannesiera

[2013-03-26 17:34] Lewis commented on #129
Looks good.

[2013-03-27 11:19] curtisdelicata commented on #141
Can this be closed now?

[2013-03-27 11:21] Hinton commented on #141
Yes

[2013-03-27 11:21] #141 closed, assigned to nobody

[2013-03-27 11:25] curtisdelicata opened #149 "Forum - Replies"
Views count but replies are not counted.

[2013-03-27 19:58] curtisdelicata commented on #149
Views went up to 3 but doesn't seem to add any views after this.

[2013-03-27 20:58] Hinton commented on #149
Check the code? It only increases views if it's not a "repetitive" view. You have to visit another topic before re-visiting to increase again. Not sure if its a good feature or not, but it prevents view count from increasing while navigating the topic pages.

[2013-03-28 08:02] curtisdelicata commented on #149
Strange how it got to 3 as I only viewed it as one user, maybe it was
using the old code when it added up. Replies are not counted though.

[2013-03-28 08:07] curtisdelicata commented on #149
I tested again and views don't go past one per user. Replies does not
work though.

[2013-03-28 20:44] curtisdelicata opened #150 "Forum - Restructure Polls"
@hinton mentioned that polls are going to be restructured.

[2013-03-28 20:46] curtisdelicata opened #151 "Forum - Number of topics"
List number of topics for each category.

Maybe could show last post username and date too for each category.

[2013-03-29 19:49] curtisdelicata commented on #86
When I updated a Javascript file it did not update the cached version in assets, I had to delete it and load again.

[2013-03-30 14:14] #64 closed, assigned to Lewis

[2013-03-30 14:14] curtisdelicata commented on #64
#150

[2013-03-30 14:19] curtisdelicata opened #152 "Nesting error shops"
LogicException [ 0 ]: Nesting error: stock_count vs. stock_amount

MODPATH/kostache/vendor/mustache/src/Mustache/Parser.php [ 65 ]

[2013-03-30 14:20] #152 closed, assigned to nobody

[2013-03-30 14:30] curtisdelicata opened #153 "Shop or Shops"
You can view a shop at either shop/id or shops/id they have similar designs, are they both required? Is shop/id just for viewing your own shop?

[2013-03-30 18:31] curtisdelicata opened #154 "Preview release"

[2013-03-30 18:31] #154 closed, assigned to nobody

[2013-03-30 18:40] curtisdelicata commented on #129
I have created a new milestone for preview release.

[2013-04-02 12:32] curtisdelicata opened #155 "Add $_table_columns to models."

[2013-04-02 13:47] #155 closed, assigned to curtisdelicata

[2013-04-03 11:38] curtisdelicata commented on #142
Can this be closed now?

[2013-04-03 12:32] Hinton commented on #142
No, we still have more indexes and constraints needed, but its not critical for the preview release or 1.0.

[2013-04-03 12:43] curtisdelicata commented on #142
Thanks for your reply. No problem.

[2013-04-04 10:45] #121 closed, assigned to nobody

[2013-04-04 11:00] curtisdelicata commented on #127
Any luck?

[2013-04-04 11:22] curtisdelicata commented on #139
http://www.virtualpetlist.com/showthread.php/15919-Artwork-for-open-source-pet-game-framework?p=163164#post163164

[2013-04-04 15:25] #148 closed, assigned to curtisdelicata

[2013-04-04 15:41] #126 closed, assigned to happyDemon

[2013-04-04 19:30] Lewis commented on #91
I get an error when I view something using pagination when there are over 20 items "ErrorException [ Notice ]: Undefined variable: suffix"

http://demo.modulargaming.com/forum/topic/1

[2013-04-04 22:06] Lewis commented on #149
Replies are counted. Can this be closed?

[2013-04-04 22:09] Hinton commented on #149
@Lewis I think so, I believe I never closed the issue due to lack of full testing.

[2013-04-05 07:55] curtisdelicata commented on #153
shop/id seems to be for user shops
shops/id seems to be for standard shops

Is this correct?

[2013-04-05 12:45] #137 closed, assigned to nobody

[2013-04-05 13:24] curtisdelicata commented on #144
Is this because there are no items?

I did a var_dump and it said NULL for $this->request->post('item')

Also there is no inventory table for user shops? There is only one for shops.

[2013-04-05 13:26] curtisdelicata commented on #144
oops
I think it is user_items where location=shop where id=whatever

[2013-04-05 13:49] #144 closed, assigned to nobody

[2013-04-05 14:12] #127 closed, assigned to nobody

[2013-04-05 14:19] curtisdelicata opened #156 "Pet Admin - Locking colour does not work"

[2013-04-05 14:22] #156 closed, assigned to curtisdelicata

[2013-04-05 14:24] #153 closed, assigned to nobody

[2013-04-05 14:26] curtisdelicata commented on #143
@happyDemon

[2013-04-05 14:57] curtisdelicata commented on #143
Transform:

I fixed the bug where it had save- instead of save-> but I get a new bug now:

ORM_Validation_Exception [ 0 ]: Failed to validate array

[2013-04-05 15:17] #143 closed, assigned to nobody

[2013-04-05 15:33] curtisdelicata commented on #149
Works as expected.

[2013-04-05 15:33] #149 closed, assigned to Hinton

[2013-04-05 15:37] #151 closed, assigned to Hinton

[2013-04-05 15:37] Hinton commented on #151
Closed by 1389bf2162182022d8f31a27f793940477310fef

[2013-04-05 16:21] Lewis opened #157 "Cannot load admin dashboard if the feed cannot be loaded"
If you are not connected to the interenet or modulargaming.com is down the feed will not load and you will get an error "Request_Exception [ 0 ]: Error fetching remote /rss.xml [ status 0 ] Could not resolve host: www.modulargaming.com; Host not found"

[2013-04-05 16:25] Lewis commented on #157
I added a Try Catch to it.

[2013-04-05 16:25] #157 closed, assigned to Lewis

[2013-04-06 09:38] curtisdelicata commented on #9
For now I think we should cache has()

Wouldn't it be more queries if we check roles table for forum.post.edit too

[2013-04-06 22:07] #91 closed, assigned to happyDemon

[2013-04-06 23:09] Hinton commented on #150
I'm not happy with the current way we handle polls, considering pushing it forward to another release. In my opinion it belongs in topic create/edit section and not as a seperate "create/edit" as it currently is.

This requires a way to edit topics that we currently do not have, so we should add a way to edit topics.

Any opinions @curtisdelicata, @Lewis?

[2013-04-07 09:45] curtisdelicata commented on #139
I have chosen an artist (Ixrya). The paint brushes are complete. What do you all think?

http://i37.photobucket.com/albums/e60/ixyra/Pet%20Site%20Artwork/Items/paintbrushred_zps890d915b.png
http://s37.photobucket.com/user/ixyra/media/Pet%20Site%20Artwork/Items/paintbrushred_zps890d915b.png.html

@hinton @happyDemon @Lewis @jannesiera

[2013-04-07 11:51] curtisdelicata opened #158 "Install Modular Gaming on ModularGaming.com"
Install a copy of Modular Gaming so we can have forums etc

[2013-04-07 11:51] #158 closed, assigned to curtisdelicata

[2013-04-07 12:54] curtisdelicata commented on #129
http://forum.kohanaframework.org/discussion/11680/modular-gaming-open-source-browser-based-game-framework-kohana-3-3
http://www.virtualpetlist.com/showthread.php/15953-Modular-Gaming-Open-source-pet-web-game-framework?p=163494#post163494
http://community.bbgamezone.net/projects/modular-gaming-open-source-web-game-framework-kohana-3-3/new/#new
http://indie-resource.com/forums/viewtopic.php?f=65&t=6

[2013-04-07 15:31] curtisdelicata commented on #129
http://www.gamedev.net/topic/641450-modular-gaming-open-source-browser-based-game-framework/
https://forums.digitalpoint.com/threads/modular-gaming-open-source-browser-game-framework.2649093/
http://www.sitepoint.com/forums/showthread.php?1023931-Modular-Gaming-Open-source-web-game-framework&p=5384136#post5384136
http://www.devnetwork.net/viewtopic.php?f=72&t=137647&sid=2b0509f1bda90862d4fdcd1a6b4

[2013-04-07 15:48] curtisdelicata commented on #129
http://www.codingforums.com/forumdisplay.php?f=6
http://forums.devshed.com/php-development-5/modular-gaming--open-source-web-game-framework-943112.html#post2869066

[2013-04-07 15:48] #129 closed, assigned to curtisdelicata

[2013-04-07 16:15] curtisdelicata commented on #86
It currently fails when environment is set to production

[2013-04-07 16:24] Lewis opened #159 "Games"
We should have some basic games to add a way for users to earn points. Something like rock-paper-scissors would be good.

[2013-04-07 16:36] #159 closed, assigned to Lewis

[2013-04-08 10:02] curtisdelicata commented on #129
http://www.makewebgames.com/showthread.php/43210-Modular-Gaming-Open-source-web-game-framework-Kohana-3-3?p=288713#post288713

[2013-04-08 20:15] Lewis opened #160 "Signing in after changing role"
After changing a user's role, when you try to sign in as that user it says "Login information incorrect!". Should this happen?

[2013-04-08 20:15] Hinton commented on #160
You can have multiple roles, for example an admin should have both the login and admin role.
In order to login you must have the login role.

[2013-04-08 20:27] Lewis commented on #160
I added the login role to my account and I can login now. Thank you.

[2013-04-08 20:27] #160 closed, assigned to nobody

[2013-04-09 08:08] curtisdelicata commented on #86
ErrorException [ Fatal Error ]: Call to undefined method Asset_Merger::html()

MODPATH/asset-merger/classes/Kohana/Asset/Collection.php [ 124 ]

[2013-04-09 10:50] curtisdelicata commented on #86
Replacing with the function call from Asset_Merger::html to Asset::html fixes this. I need some advice if this is the correct way before I push.

@hinton @happyDemon @modulargaming

[2013-04-10 21:25] Hinton commented on #86
I was thinking of rewriting the assets system into a more lightweight solution, it's a bit bloated and to complicated for our needs currently.

@curtisdelicata if it works push it, it can't be worse than the current error.

[2013-04-11 14:10] curtisdelicata opened #161 "Breadcrumbs for user module"

[2013-04-11 14:11] #161 closed, assigned to nobody

[2013-04-11 14:33] curtisdelicata opened #162 "Breadcrumbs for inventory module"
Shops was missing breadcrumbs. Fixed breadcrumb for shop, it was using array that is why object did not work (Commented out code).

[2013-04-11 14:33] #162 closed, assigned to curtisdelicata

[2013-04-11 14:41] curtisdelicata commented on #86
I think it is good. I don't think we need a rewrite. It is up to you though.

What do you think? @happyDemon @Lewis @jannesiera @modulargaming

I will change and push.

[2013-04-11 14:50] curtisdelicata opened #163 "Asset_Merger error in production"
ErrorException [ Fatal Error ]: Call to undefined method Asset_Merger::html()

MODPATH/asset-merger/classes/Kohana/Asset/Collection.php [ 124 ]

Replacing with the function call from Asset_Merger::html to Asset::html fixes this. I need some advice if this is the correct way before I push.

[2013-04-11 14:55] #163 closed, assigned to nobody

[2013-04-11 14:56] curtisdelicata commented on #86
Asset Merging now appears to work?

It successfully creates head.css and everything is merged into it.

[2013-04-11 16:51] curtisdelicata commented on #86
Javascript seems to be broken.

When in production I cannot change specie or colour on pet create.

[2013-04-11 20:54] Hinton opened #164 "User settings Event"
The user settings controller should call an event that allow you to add user settings "tabs/pages". I cannot believe I forgot to call it ...

[2013-04-11 21:02] #164 closed, assigned to nobody

[2013-04-14 15:37] Lewis commented on #86
Pet create is fixed. The JavaScript wasn't in the assets.php.

[2013-04-14 16:09] Lewis commented on #86
I copied how Abstract_Controller_Frontend loads assets to HTTP_Exception. Was that the correct way?

[2013-04-14 16:36] curtisdelicata commented on #86
It looks correct. Thanks.

What do you think @hinton

[2013-04-14 16:49] Hinton commented on #86
I was considering using HMVC to call a controller that renders the error pages. Not sure what the best practice is.

[2013-04-15 17:15] curtisdelicata commented on #86
Lewis mentioned that he found that if he changed it to use admin-head.css and admin-body.js that it worked. That is because the assets get generated for the user side and cannot be updated again for admin as the file has already been loaded. Would this be a good idea? It would be an if statement and new files.

Quoted by @happyDemon

with this latest push to the asset branch I've run into some tro

[2013-04-16 08:38] curtisdelicata commented on #139
I have a problem with the Minion Migration for Default Items. I get PHP Parse error:  syntax error, unexpected 'name' (T_STRING) in /var/www/modulargaming/item/migrations/item/20130416091900_item-items-seed.php on line 16

However running the same SQL in phpmyadmin works. Any ideas?

@hinton @happyDemon @Lewis

[2013-04-16 08:40] curtisdelicata commented on #139
I think it is something to do with "name":"Pet_Paint","param":"Black"

[2013-04-16 12:10] curtisdelicata commented on #139
Fixed, I had to escape the characters.

[2013-04-16 15:37] #139 closed, assigned to curtisdelicata

[2013-04-18 11:20] curtisdelicata commented on #56
https://github.com/modulargaming/modulargaming/commit/504b9cd6619fe65e0b971a5a72cbd322fe0a9e22

[2013-04-18 12:18] curtisdelicata commented on #56
When editing a category it needs to be fixed as it currently says Undefined. I am unsure why as I have replaced all references of name with title. Can you take a look @Lewis

Also it has a duplicate nav bar entry for forum category. Can you take a look @Lewis

[2013-04-18 12:20] curtisdelicata commented on #8
I think we should use drivers as suggested. Could they be loaded using events? So we can have item search etc if the module is enabled.

[2013-04-18 12:21] curtisdelicata commented on #150
I agree with what you have said.

[2013-04-18 18:26] curtisdelicata opened #165 "User Profile - Pets Tab"
If the user has no pets the pet tab for user profile says 'has no pets' it should say '{{username}} has no pets'.

{{username}} is set but it is inside of the for each loop so it is only set if the player has at least one pet.

[2013-04-19 14:33] #165 closed, assigned to nobody

[2013-04-20 10:32] curtisdelicata commented on #24
Sounds good. Feel free to proceed.

[2013-04-20 20:06] Lewis commented on #86
I have made the admin pages load assets with "_admin" added to the end of the file name but the pages with data tables try load separate JavaScript files which don't get loaded because body_admin.js has been cached from the previous page.

[2013-04-20 20:12] #56 closed, assigned to curtisdelicata

[2013-04-20 20:53] curtisdelicata commented on #86
@hinton said he is going to rewrite assets when he has time. Do not worry about fixing the current implementation @Lewis proceed with messages/games.

[2013-04-21 10:51] curtisdelicata opened #166 "Improve RockPaperScissors Game"
Improve based on @hinton comments on previous commit.

[2013-04-21 10:51] #166 closed, assigned to Lewis

[2013-04-22 15:41] curtisdelicata opened #167 "Game - Lucky Wheel"

[2013-04-22 15:41] #167 closed, assigned to Lewis

[2013-04-22 15:48] curtisdelicata commented on #128
@hinton said it meant to be a Controller. Nothing seems to break though. Is this required for 1.1 or a later release?

[2013-04-22 15:50] curtisdelicata commented on #101
Should this include passing data as_array instead of objects?

[2013-04-22 15:51] Hinton commented on #101
@curtisdelicata We should use the same design everywhere, and as we need to use lazy relationships in some places it is better to send the objects.

[2013-04-22 15:55] #75 closed, assigned to curtisdelicata

[2013-04-23 16:17] #28 closed, assigned to Lewis

[2013-04-23 16:32] #74 closed, assigned to curtisdelicata

[2013-04-24 18:00] Hinton opened #168 "Assets refactor"

[2013-04-24 18:59] Hinton commented on #168
Started the refactor in branch feature/assets-refactor. Thinking about changing the module a bit to better fit our needs.

[2013-04-24 19:16] curtisdelicata commented on #168
Ok great. Should I close old asset issue?

[2013-04-24 19:17] #86 closed, assigned to Hinton

[2013-04-24 19:36] Lewis opened #169 "Uploading shop NPC images"
Uploading an NPC image doesn't work and when you update a shop without changing the NPC it removes the image.

[2013-04-24 19:42] Lewis commented on #169
I fixed this but there is still a directory named "tmp" in assets/img/npc/shop. How do I remove it?

[2013-04-24 19:44] Lewis commented on #169
It removed the directory this time

[2013-04-24 19:44] #169 closed, assigned to Lewis

[2013-04-28 13:54] Hinton opened #170 "Seperate directory for assets and uploaded content."
Along with the asset refactor we should seperate the assets and upload directories.

The assets directory should contain cached resources, such as images from modules, themes, that should be removed when updating modules.

While Upload contains uploaded items such as user avatars, pets images and should never be removed.

[2013-04-28 14:04] curtisdelicata commented on #170
What about assets/cache and assets/upload

[2013-04-28 14:05] Hinton commented on #170
Could work, but that would force us to write urls with /cached/ for all images. Images are also cached.

[2013-04-28 14:05] Hinton commented on #170
So images would be /assets/cached/img/[file].png

[2013-04-28 14:07] curtisdelicata commented on #170
Where would the pet images and item images go? In the actual module/assets?

[2013-04-28 14:08] Hinton commented on #170
Pet images would go to upload?

[2013-04-28 14:08] curtisdelicata commented on #170
What about the included pet images? I think they should all go in upload

[2013-04-28 14:10] Hinton commented on #170
Yea they would should go in upload. Otherwise we have 2 different cases, game specific assets and module provided. Much better to just have 1 case.

[2013-04-28 14:10] curtisdelicata commented on #170
What about assets/ and media/

[2013-04-28 16:06] curtisdelicata commented on #170
I have moved all images for item, npc, pet to /media

I have also updated all references (img() function in model etc)

@hinton moved glyphs from assets/ to core/assets

[2013-04-28 17:10] #170 closed, assigned to nobody

[2013-04-28 22:08] Hinton opened #171 "Theme system"
We should have a very basic theme system for 1.0 release.

It should be enough to provide it as a module. It should be loaded last, after all modules in Kohana::modules.

[2013-04-28 22:25] Hinton commented on #5
Perhaps we can push this to 1.1. It is nothing I consider vital. If anyone wants it they can easily implement it themselves for now.

[2013-04-29 15:15] Lewis opened #172 "Food and toy items don't get consumed"
When you use an item on a pet the item nothing happens.

[2013-04-29 15:18] #172 closed, assigned to nobody

[2013-04-29 15:53] Lewis commented on #105
Should we use something like this http://reactiveraven.github.io/jqBootstrapValidation/?

[2013-04-29 15:56] Hinton commented on #105
Was thinking more of using http://parsleyjs.org/

[2013-04-30 10:16] curtisdelicata commented on #171
Good idea.

[2013-04-30 19:27] Hinton commented on #168
This could be considered closed for now. The new assets system has been implemented in the feature/assets-refactor branch and merged into develop branch.

[2013-04-30 19:27] #168 closed, assigned to nobody

[2013-04-30 20:52] #171 closed, assigned to nobody

[2013-05-02 11:15] Hinton opened #173 "Transparent extending"
Before 1.0 release we should create transparent extending classes for each class, (Boring task). So you can easily override functions in classes.

Should we use the folder MG/ for our classes? Controller_Welcome would be MG_Controller_Welcome.

http://kohanaframework.org/3.3/guide/kohana/extension
- [x] Admin
- [x] Core
- [x] Forum
- [x] Game
- [x] Item
- [x] Message
- [x] Pet
- [x] User

[2013-05-02 11:22] curtisdelicata commented on #173
I don't think we should do this as it complicates things.

[2013-05-02 11:23] curtisdelicata commented on #173
What do you think? @Lewis @happyDemon @jannesiera

[2013-05-02 11:24] Hinton commented on #173
How does it complicate things? Is there another way you can make it easy to extend classes without having to copy and paste the original?

[2013-05-02 11:25] curtisdelicata commented on #173
I don't understand? Do you mean you can overwrite specific functions etc using a transparent class? Rather than having to copy all the functions etc you want?

[2013-05-02 11:26] Hinton commented on #173
Yea, all Kohanas classes (and modules) provide "empty" classes, that you overwrite (using cascadic file system) to modify and overwrite functions you wish to change. Rather than copying the class and modifying it.

[2013-05-02 11:30] curtisdelicata commented on #173
Can you link me an example?

I know that they use empty classes but I didn't realise you could overwrite only specific functions? Can't this be done by the user by overwriting it using application/

[2013-05-02 11:31] curtisdelicata commented on #173
Oh I think I understand now? You extend the transparent instead? But how does that copy across all the function?

[2013-05-02 11:31] Hinton commented on #173
We overwrite before in controller, https://github.com/modulargaming/modulargaming/blob/develop/modulargaming/core/classes/Controller.php.

[2013-05-02 11:33] curtisdelicata commented on #173
Is this needed though? I do think it complicates things?

If you think it is a good idea I guess we should do it though?

Would everything get prefixed? Abstract as well?

[2013-05-02 11:38] Hinton commented on #173
It is needed if a user wish to change how a class works. There are plenty of use cases, for example if the user wishes to change how assets are cached, they can overwrite the generate cached assets function rather than copying the whole class. Or if the user wishes to run a query on every page they could add it in controller_frontend rather than copying the whole class and inserting the code.

It'

[2013-05-02 11:38] curtisdelicata commented on #173
You are correct.

I think we should use it then.

[2013-05-02 11:39] curtisdelicata commented on #173
If you make a start on it so I know how to structure it. I can help later today.

[2013-05-02 11:41] curtisdelicata commented on #173
For example if we had a function called x in MG_Controller_Example if you created a function called x in Controller_Example would it overwrite? I assume it does?

[2013-05-02 15:08] curtisdelicata commented on #173
If you make a start on it so I know how to structure it. I can help later today.

[2013-05-02 19:08] Lewis commented on #173
Good idea.

[2013-05-04 12:57] #173 closed, assigned to curtisdelicata

[2013-05-05 13:16] curtisdelicata commented on #105
The one @Lewis mentioned looks like the best option.

[2013-05-05 13:26] Hinton commented on #105
jqBootstrapValidation has less options, and no easy way to localize it. We will be locked to bootstrap compared to parsleyjs where we can create custom error functions. Parsley.js also has more validators, and seems to be more active with higher amount of forks/commits.

[2013-05-14 13:11] curtisdelicata opened #175 "Restock Task is broken"
Restock Task is broken. It has an error about RAND.

[2013-05-14 13:11] #175 closed, assigned to Lewis

[2013-06-10 11:00] curtisdelicata commented on #110
Should we use our own installer and custom package system? I think it is better to use normal packagist which would rely on Git submodules?

[2013-06-10 12:47] Hinton commented on #110
Using a custom installer with packagist sounds like the easiest solution.

[2013-06-11 13:05] curtisdelicata opened #176 "Minion task for clearing assets"

[2013-07-15 12:54] curtisdelicata opened #177 "Last post - Forum"
Forum category lists the last posted as the original topic starter. Posting replies does not change the last posted user.

[2013-07-15 12:55] curtisdelicata opened #178 "User shops - Update stock"
User shops needs to be able to update stock as currently it does not work. It also needs other minor improvements.

[2013-07-15 12:56] Hinton commented on #177
I suspect we do not update last_forum_post_id in the reply function, it might be my fault as I migrated over much of the code to the models to clean up the controllers. Should be an easy fix inside the topics model?

[2013-07-15 12:57] curtisdelicata opened #179 "Composer installer"
We need to split up packages in modulargaming/ to separate githubs and create Composer packages. Later on we should support installing and updating via admin.

It might be a good idea to package up all modules in /modules and /system too.

[2013-07-15 12:58] curtisdelicata commented on #179
See #110

[2013-07-15 13:09] curtisdelicata commented on #177
I can see it should update on reply. This is from topic model.

$this->last_post_id = $post->id;
$this->replies++;
$this->save();

[2013-07-15 13:24] #177 closed, assigned to Hinton

[2013-07-15 20:59] Hinton opened #180 "Improve 401 errors title"
401 errors currently redirects the user to /user/login. This is fine, but it would improve usability if we rather than used the title "Login", used something like "To access this page you must first login".
#24

[2013-07-18 19:09] curtisdelicata commented on #110
We need to split up packages in modulargaming/ to separate githubs and create Composer packages. Later on we should support installing and updating via admin.

It might be a good idea to package up all modules in /modules and /system too.

[2013-07-18 19:10] curtisdelicata commented on #179
Duplicate.

[2013-07-18 19:10] #179 closed, assigned to nobody

[2013-07-19 11:44] #180 closed, assigned to Hinton

[2013-07-19 23:32] #24 closed, assigned to nobody

[2013-07-19 23:34] Hinton commented on #24
Creating a reliable custom error pages was harder than I believed. The current system uses a Kohana_Exception class in application/. It must be in application/, as kohana does not load modules directly.

Kohana_Exception attemps to create a request to error controller and call method 500. It does so by manualy creating a request, response and controller objects, as calling it using HMVC (request->

[2013-07-20 16:50] #178 closed, assigned to nobody

[2013-07-23 13:17] #176 closed, assigned to nobody

[2013-07-24 13:00] Lewis opened #181 "Moving non-transferable items to user shop"
Non-transferable items shouldn't be able to be moved to user shops.

[2013-07-24 13:17] #181 closed, assigned to Lewis

[2013-07-25 12:10] Lewis opened #182 "User shops upgrade stock size"
The size of shops cannot be upgraded and it would be better if it told you have much it costs to upgrade.

[2013-07-25 12:13] #182 closed, assigned to Lewis

[2013-07-25 17:24] curtisdelicata opened #183 "Error when debug toolbar is disabled"

[2013-07-25 21:28] Hinton opened #184 "Update mustache."
We should attempt to update mustache in KOstache. It is several versions behind.

[2013-07-26 14:43] #183 closed, assigned to nobody

[2013-07-26 16:10] #110 closed, assigned to curtisdelicata

[2013-07-26 16:20] #184 closed, assigned to curtisdelicata

[2013-07-26 17:20] curtisdelicata opened #185 "Fallback error when in production"

[2013-07-26 19:34] curtisdelicata commented on #185
I had to chmod 777 assets.

[2013-07-26 19:34] #185 closed, assigned to nobody

[2013-07-27 10:11] curtisdelicata opened #186 "Kohana Exception should be in core and not application?"
https://github.com/modulargaming/modulargaming/blob/develop/application/classes/Kohana/Exception.php

[2013-07-27 10:40] curtisdelicata opened #187 "Errors - Ant/PHPCS"
We should go through all the errors Ant/PHPCS found.

[2013-07-27 10:42] curtisdelicata opened #188 "Media"
Should we have a way for media to be in the module directory? Or should users just delete what they don't need in media/

Seems that it would be overhead?

[2013-07-27 23:11] #187 closed, assigned to nobody

[2013-07-28 10:59] Hinton commented on #186
Not possible, as the Exception gets loaded before modules are initialized.
It's possible to get around, but not worth spending time on.

[2013-07-28 10:59] #186 closed, assigned to nobody

[2013-07-28 17:09] curtisdelicata opened #189 "README and description for modules"

[2013-07-28 17:17] curtisdelicata opened #190 "Themes should be separate git modules"
Maybe we should prefix packages with theme- as admin etc would conflict

[2013-07-28 17:18] Hinton commented on #190
We need to modify modulargaming/installer to support themes.

[2013-07-28 17:19] curtisdelicata commented on #190
The github projects would need prefix the folder structure can stay in themes/default and themes/admin

[2013-07-28 17:38] #190 closed, assigned to nobody

[2013-07-28 19:19] curtisdelicata opened #191 "License for themes"

[2013-07-28 19:21] #189 closed, assigned to curtisdelicata

[2013-07-28 19:21] #191 closed, assigned to curtisdelicata

[2013-07-29 10:35] curtisdelicata opened #192 "Docblocks"
- [x] Admin
- [x] Core
- [x] Forum
- [x] Game
- [x] Item
- [x] Message
- [x] Pet
- [x] User

See #103

[2013-07-29 10:45] curtisdelicata commented on #192
User was nearly complete but was missing docblocks on a few files. @hinton

[2013-07-29 11:12] curtisdelicata opened #193 "Formatting with tabs"
A few of the files in the item modules have an extra tab for every line. Is there a way to automatically fix?

[2013-07-29 11:48] #192 closed, assigned to curtisdelicata

[2013-07-29 11:49] curtisdelicata commented on #193
It seems to be only files that @happyDemon authored.

[2013-07-29 12:16] curtisdelicata commented on #193
Model/Shop/Restock
Model/User/Shop
Model/User/Trade/Big
Model/User/Trade

Model/Pet/Colour
Model/Pet/Specie

[2013-07-29 13:44] curtisdelicata opened #194 "Pet - Adopt is empty"

[2013-07-29 13:44] #193 closed, assigned to nobody

[2013-07-29 14:01] #194 closed, assigned to nobody

[2013-07-30 15:51] Hinton opened #196 "Bring back the Kohana install check."
Enable install.php include in index.php, and add the modular gaming specific checks to it.

[2013-07-30 15:52] Hinton opened #197 "Basic database installer"
We might want to have a very basic database installer, that checks database access and imports the database if possible.

[2013-08-01 14:37] #196 closed, assigned to Hinton

[2013-08-01 16:56] curtisdelicata opened #198 "Extends wrong class"
Abstract Controller extends MG_ when it should extend the transparent class.

[2013-08-01 17:00] curtisdelicata opened #199 "Add themes to Composer managed directories"

[2013-08-01 17:00] #199 closed, assigned to curtisdelicata

[2013-08-01 17:02] #198 closed, assigned to curtisdelicata

[2013-08-02 23:48] Hinton commented on #197
I believe the best approach to this should be to improve the install.php file.
We will probably benefit from having the installer also check database access, and if access is provided it should display an import button.

We might also want for the install.php page to be able to generate and check database authentication, but it might be overkill, as we are targeting developers.

[2013-08-05 12:08] #197 closed, assigned to Hinton

[2013-08-12 22:48] Hinton commented on #79
Some notes for me to remember.

## CSRF

Easiest solution would be to include in template.

[code]

It can then be included in the post by javascript, preferable using a custom .post method to prevent duplicated code.

## Actions

We should create or copy a Controller_REST that prepends the HTML verb, `action_index` would become `get_index`. As @happyDemon mentioned Laravel has a nice example, htt

[2013-08-15 12:35] curtisdelicata commented on #140
Should we wait until 3.0 and implement it at the same time?

[2013-08-22 15:03] Hinton opened #200 "Update Bootstrap to v3"
We should consider upgrading twitter bootstrap to version 3.

[2013-08-22 17:46] curtisdelicata opened #201 "User Admin Logs"

[2013-08-24 10:06] #201 closed, assigned to curtisdelicata

[2013-08-24 11:41] curtisdelicata opened #202 "Routes for user admin roles was incorrect."
It was using Controller 'User' instead of Controller 'Role'

[2013-08-24 11:41] #202 closed, assigned to nobody

[2013-08-26 21:52] Hinton opened #203 "Use proper composer packages for Kohana"
Kohana is working on including composer.json and adding their packages to packagist.

Once it has been completed, we should remove the custom repositories from our composer.json.

[2013-08-29 22:30] Hinton opened #204 "Remove temporary overwrite for fetchTransaction"
Omnipay has a pull request to add fetchTransaction to paypal. adrianmacneil/omnipay/pull/110

I have currently extended the classes to add this feature, but it should be removed once the pull request has been merged.

[2013-09-05 16:29] curtisdelicata commented on #203
Kohana 3.3.1 has been released.

[2013-09-05 20:48] #203 closed, assigned to nobody

[2013-09-13 10:19] #188 closed, assigned to nobody

[2013-09-13 11:26] curtisdelicata commented on #188
Closed as it is not a good idea.

[2013-09-13 11:26] Hinton commented on #5
Not sure what the best approach to this would be. We could use JavaScript to localize the time-zone and there would be no need to specify the time-zone manually.

[2013-09-13 11:26] curtisdelicata commented on #5
We could use Javascript if they have not set a timezone?

[2013-09-13 11:27] curtisdelicata commented on #5
Set it on registration using Javascript and then they can manually change?

[2013-09-14 22:51] Hinton commented on #128
I do not think we use this file any longer, so we can probably remove it.

[2013-09-16 16:23] Hinton opened #205 "Improve initial properties"
We need a better way to set default values of properties.

The easiest might be to have a config file, something like `config/user.php` file:

[code]

This will help us set default values for things such as points rather than constantly getting the default value from a separate config.

[2013-09-21 19:56] OnThePull opened #206 "Login information incorrect.."
After a user has registered and logs out again, attempting to log in again with the correct username and password gives the error; Login information incorrect! Any ideas?

[2013-09-22 06:45] OnThePull commented on #206
Now started again.

[2013-09-22 08:14] OnThePull commented on #206
It only seems to affect admin accounts...

[2013-09-22 09:14] curtisdelicata commented on #206
I have not experienced this before and cannot reproduce. Can you provide us with more information? What version? Operating System? PHP version?

[2013-09-22 09:19] curtisdelicata commented on #206
Have you modified anything in user_roles table? Have you removed role id 1? 1 is login and 2 is admin. You need both.

[2013-09-22 10:08] OnThePull commented on #206
User roles have not been changed, PHP version is 5.3, Windows 8 and my Linux VPS, affects both. Newest version of Modular Gaming.

[2013-09-22 10:10] curtisdelicata commented on #206
1.0.2 or git/composer?

[2013-09-22 10:11] OnThePull commented on #206
1.0.2

[2013-09-22 10:17] curtisdelicata commented on #206
What uusername are you using? Any special characters?

[2013-09-22 10:17] OnThePull commented on #206
Just admin.

[2013-09-22 10:27] curtisdelicata commented on #206
Does 1.0 work?

[2013-09-22 10:28] OnThePull commented on #206
I'll try.

[2013-09-22 10:28] OnThePull commented on #206
Wrong button.

[2013-09-22 10:39] curtisdelicata commented on #206
Thanks. We will test and see if we can confirm. If we can find the issue we will fix asap

[2013-09-22 10:48] curtisdelicata commented on #206
I downloaded latest Modular Gaming and tested by creating a user admin with password as password. Logged out and logged back in successfully.

Did you use the drop down or did you manually go to user/logout?

[2013-09-22 10:48] Hinton commented on #206
@lpull20 could you post the user and roles_users and role tables? (sql dump). Feel free to obfuscate the passwords.

[2013-09-22 10:48] curtisdelicata commented on #206
Both logouts seem to work. I can login on both.

[2013-09-22 10:49] curtisdelicata commented on #206
I mentioned user and roles_users before but @ipull20 said he did not change anything.

[2013-09-22 10:51] OnThePull commented on #206
I used dropdown, I will post the tables anyway so you can have a look. Give me a sec.

[2013-09-22 10:55] OnThePull commented on #206
http://pastebin.com/MXFK2Y6V - roles_users
http://pastebin.com/afcXSL6e - users

[2013-09-22 10:57] curtisdelicata commented on #206
Case sensitive is not the problem as I can login with admin or Admin on my local install.

[2013-09-22 10:57] OnThePull commented on #206
It's weird how it only affects users given the admin role.

[2013-09-22 10:58] curtisdelicata commented on #206
roles_users looks correct.

[2013-09-22 10:59] Hinton commented on #206
@lpull20 You have 2 users with the role login, and no admin?

[2013-09-22 10:59] Hinton commented on #206
In case you want user with id 1 to be admin, it should be

[code]

[2013-09-22 11:00] OnThePull commented on #206
I changed it back to see if it only affected admin accounts, I was admin originally.

[2013-09-22 11:03] curtisdelicata commented on #206
What MySQL version are you using?

[2013-09-22 11:04] Hinton commented on #206
Just need to be sure, the admin user has BOTH the login and admin role? Login role is required for logging in, without it you won't be able to login.

[2013-09-22 11:08] OnThePull commented on #206
Not sure what I did, but it's working now!

[2013-09-22 11:08] OnThePull commented on #206
Thank you all for your help!

[2013-09-22 11:09] #206 closed, assigned to nobody

[2013-09-22 11:11] curtisdelicata commented on #206
No problem. Can you remember what fixed it?

[2013-09-22 11:14] OnThePull commented on #206
I re-imported the database, it could have been that.

[2013-09-22 11:19] curtisdelicata commented on #206
Ok great that it works for you.

[2013-09-22 17:12] #205 closed, assigned to nobody

[2013-10-07 01:47] AngelwithAdditude opened #207 "Cannot upload new pet images when creating"
Once you hit the upload button it just hangs on the processing bar...I create a species,name but cannot upload, plus this error when creating as a user

models/user_pet.colour_id.Valid_Pet::colour_available

[2013-10-07 01:50] AngelwithAdditude opened #208 "How to install the Auction Module"
I do not see or be able to find the Auction Module??

[2013-10-07 08:31] curtisdelicata commented on #207
I thought I fixed this before 1.0

I will look into this. Thanks

[2013-10-07 08:32] curtisdelicata commented on #208
Auction is not complete. It is part of the item module for now.

[2013-10-07 08:59] curtisdelicata commented on #208
See #48

[2013-10-07 08:59] #208 closed, assigned to curtisdelicata

[2013-10-07 09:04] curtisdelicata commented on #207
Do you mean you get the second error when creating as a user on pet/create? As I can successfully create a pet on pet/create

[2013-10-07 09:29] curtisdelicata commented on #207
Error handling must not be showing correctly. When I upload an 200x200 image it works as expected.

[2013-10-07 09:34] curtisdelicata commented on #207
I had to click complete then return and refresh and it shows the colours.

[2013-10-07 09:37] curtisdelicata commented on #207
It does not seem to be uploading. I will look into porting the code used on Item module (Kohana Image Module) and see if this fixes it. I tried manually creating directory or using an if with mkdir but it does not upload.

[2013-10-07 13:55] curtisdelicata opened #209 "Refactor - Image upload for pet"
Refactor image upload to be simple like Avatar upload.

[2013-10-07 13:55] curtisdelicata opened #210 "Refactor - Image upload for items"
Refactor image upload to be simple like Avatar upload.

[2013-10-10 15:01] curtisdelicata opened #211 "Item image upload"
Temporary directory is set to assets/

It should be media/

[2013-10-10 15:42] #207 closed, assigned to curtisdelicata

[2013-10-10 15:46] #211 closed, assigned to curtisdelicata

[2013-10-11 16:17] curtisdelicata commented on #207
https://sourceforge.net/projects/modulargaming/files/latest

[2013-10-30 12:26] curtisdelicata opened #212 "Change license files to Modular Gaming Ltd"
Change license files for correct company

[2013-10-30 12:26] #212 closed, assigned to curtisdelicata

[2014-01-21 19:55] curtisdelicata opened #213 "Class 'MG_Item_Command_Pet' not found"
Class 'MG_Item_Command_Pet' not found

[2014-01-21 19:59] curtisdelicata commented on #213
Files and naming seems to be correct. Needs to be confirmed and investigated.

[2014-01-26 21:49] JellyTale opened #214 "Adding New Role(s)"
Upon trying to add a new role and clicking "Create" the button changes to "Saving" and doesn't seem to do anything.

[2014-01-26 22:01] JellyTale opened #215 "Pet Colors"
You can create a new species and assign colors that it can be created with.
But, while creating the pet via /pet/create, although blanked out, the buttons for the other colors can still be pressed, producing a rather ugly missing image icon.

[2014-01-26 22:05] JellyTale opened #216 "Ugly user shops error"
I wouldn't say this is as much of a functionality issue as much as a cosmetic issue.

If I am to navigated to a nonexistent shop (By default you could try: /modulargaming/shops/6) I am greeted by a "No shop found" error, which is exactly what should be happening.

However when navigating user shops, if I go to /shop/1 (Also doesn't exist by default) I get given a ugly Kohana error, instead of a "S

[2014-01-26 22:10] JellyTale opened #217 "Cardses"
Seems to be some kind of cosmetic issue by default in the "Toys" shop.

You can purchase 25 cardes and if this is taken down to the singular term it becomes "1 Cards" instead of "1 Card" or rather: "1 Deck Of Cards."

This glitch seems to affect a few other items to, such as: "1 Blocks." I haven't checked the other shops, but it seems lightly that there may be a few issues going on in those too.

[2014-01-26 22:16] JellyTale opened #218 "Messaging system"
Once again: Not bugs, but just things that might need changing.
1. Users can message themselves. While not affecting the messaging system's ability to function, it's not a nice feature to have.
2. When clicking on "Reply" it would be nice if the user didn't have to go and fill in the information of the person they're replying to. Perhaps if the script could just parse the username of the sender in

[2014-02-02 21:18] curtisdelicata opened #219 "Spelling mistakes"
Winnings is spelled as Winings and receive is spelled as recieve.

[2014-02-02 21:19] curtisdelicata opened #220 "Missing user save on abstract game"

[2014-02-02 21:19] #219 closed, assigned to curtisdelicata

[2014-02-02 21:19] #220 closed, assigned to curtisdelicata

[2014-02-19 21:55] t1gor commented on #214
Hello, guys.

This issue also applies to the role edit form, not only create. I've just checked this issue and it seems that the form lacks the CRFS.

![screenshot from 2014-02-19 16 51 11](https://f.cloud.github.com/assets/1280013/2212249/3f198764-99b0-11e3-8dd8-6da1c87a81fa.png)

Unfortunately, I am not a Kohana expert and still can not find the form view :( But, if someone could suggest me the

[2014-02-19 22:39] happyDemon commented on #214
https://github.com/modulargaming/user/blob/master/templates/admin/user/role/index.mustache

That's the template file ^^

[2014-02-20 10:31] curtisdelicata commented on #214
{{csrf}} was missing from the value=

I also added the span class as that is what is in the other template.

https://github.com/modulargaming/user/blob/develop/templates/admin/user/role/index.mustache

[2014-02-20 10:32] curtisdelicata commented on #214
It is in develop branch, checkout develop to test. It appears to work.

[2014-02-20 13:13] t1gor commented on #214
Thanks, guys, I will :+1:

[2014-02-20 15:39] #214 closed, assigned to nobody

[2014-02-20 15:41] curtisdelicata opened #221 "Case sensitive user shop"
Found by  @Lewis

Model_User_Item instead of Model_User_item

This fixes buying from user shops.

[2014-02-20 15:42] #221 closed, assigned to curtisdelicata

[2014-03-16 14:18] curtisdelicata opened #222 "Git clone url"
Git clone url is using SSH which fails if you do not have valid public key. I will change to https.

[2014-03-16 14:19] #222 closed, assigned to curtisdelicata

[2014-03-16 14:22] #8 closed, assigned to nobody

[2014-04-02 02:24] Forkin opened #223 "Shop Restock"
When adding an item to be restocked it gives the item ID as "0" and the item name as "null" preventing you from editing the item as well if you input an invalid item name.

Also, editing the item that is suppose to be restocked doesn't work, and the "next_restock" row is "0" meaning the items will never restock. If this "next_restock" row is suppose to be a timestamp[?] and when it meets the times

[2014-04-02 02:40] Forkin commented on #218
It would be nicer if the reply was sorta like facebook's messaging system, where the replies go underneath the message.

For an example:

Admin Message: Hello
User Message: Hi there.
Admin Message: Can I help you?
User Message: Not even the universe can help..

[2014-04-10 21:19] curtisdelicata opened #224 "Delete search included in core"

[2014-04-10 23:28] #204 closed, assigned to nobody

[2014-06-24 23:36] Hinton commented on #224
Fixed https://github.com/modulargaming/core/commit/2d0ba8282570865f67959771231fdb47c1e7156c

[2014-06-24 23:36] #224 closed, assigned to Hinton

[2014-06-24 23:53] Hinton commented on #216
Fixed, https://github.com/modulargaming/item/commit/1502c48865b8f1ccaa691cd6b5ce3f0f0bf66a2b.
It now shows a 404 error page instead.

[2014-06-24 23:53] #216 closed, assigned to nobody

[2014-06-25 17:43] Hinton commented on #218
Thread based messaging might be a better solution, it should be a feature request however. All the issues mentioned in the first post has been fixed.

[2014-06-25 17:43] #218 closed, assigned to nobody

[2014-07-31 22:00] Hinton commented on #213
Can't replicate, reopen if necessary.

[2014-07-31 22:00] #213 closed, assigned to nobody

[2014-07-31 22:23] #215 closed, assigned to nobody

[2014-07-31 22:40] #217 closed, assigned to nobody

[2014-07-31 22:51] Hinton commented on #223
The problem was that the table had no primary key and ID was not auto_increasing. The items would then receive the ID 0 and nothing would work.

[2014-07-31 22:51] #223 closed, assigned to nobody

[2014-07-31 22:56] Hinton commented on #90
We have mostly untested code.

It would be nice if we started using phpspec while designing our systems.

[2014-07-31 23:04] Hinton commented on #128
We don't have the error any longer, templates.js was a legacy from my original admin system and in my opinion a cleaner way to handle the templates than the current.

[2014-07-31 23:04] #128 closed, assigned to nobody

[2014-07-31 23:07] Hinton commented on #140
We should consider using the SASS version instead. :+1:

[2014-07-31 23:07] Hinton commented on #200
While we are at it, we should swap to Less or SASS version, according to issue #140.

[2019-04-22 06:24] dependabot-preview[bot] opened #225 "Dependabot needs permission to see PHP-CS-Fixer"
Dependabot couldn't resolve your project's dependencies as it couldn't access [PHP-CS-Fixer](https://github.com/modulargaming/PHP-CS-Fixer).

You can grant Dependabot access to PHP-CS-Fixer by adding the repository [here](https://github.com/organizations/modulargaming/settings/installations/232159). We'll automatically close this issue and kick off another update run once permission is granted.

Y

[2019-05-02 07:13] #225 closed, assigned to nobody

[2019-05-29 06:14] dependabot-preview[bot] opened #226 "Dependabot needs permission to see PHP-CS-Fixer"
Dependabot couldn't resolve your project's dependencies as it couldn't access [PHP-CS-Fixer](https://github.com/modulargaming/PHP-CS-Fixer).

You can grant Dependabot access to PHP-CS-Fixer by adding the repository [here](https://github.com/organizations/modulargaming/settings/installations/232159). We'll automatically close this issue and kick off another update run once permission is granted.

Y

[2019-08-15 05:45] dependabot-preview[bot] opened #227 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-08-15 05:45] #226 closed, assigned to nobody

[2019-08-27 05:45] #227 closed, assigned to nobody

[2019-08-27 05:45] dependabot-preview[bot] opened #228 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-10-08 06:07] dependabot-preview[bot] opened #229 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[2019-10-08 06:07] #228 closed, assigned to nobody

[2019-11-03 16:16] dependabot-preview[bot] opened #230 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[2019-11-03 16:16] #229 closed, assigned to nobody

[2019-11-12 05:54] dependabot-preview[bot] opened #231 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[2019-11-12 05:54] #230 closed, assigned to nobody

[2019-11-13 06:24] #231 closed, assigned to nobody

[2019-11-13 06:24] dependabot-preview[bot] opened #232 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[2019-11-14 06:07] #232 closed, assigned to nobody

[2019-11-14 06:07] dependabot-preview[bot] opened #233 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[2019-11-18 06:06] dependabot-preview[bot] opened #234 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[2019-11-18 06:06] #233 closed, assigned to nobody

[2019-11-19 06:06] #234 closed, assigned to nobody

[2019-11-19 06:06] dependabot-preview[bot] opened #235 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[2019-11-22 06:07] dependabot-preview[bot] opened #236 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[2019-11-22 06:07] #235 closed, assigned to nobody

[2019-11-25 06:14] #236 closed, assigned to nobody

[2019-11-25 06:14] dependabot-preview[bot] opened #237 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[2019-11-26 06:07] dependabot-preview[bot] opened #238 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[2019-11-26 06:07] #237 closed, assigned to nobody

[2019-11-27 05:44] dependabot-preview[bot] opened #239 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[2019-11-27 05:44] #238 closed, assigned to nobody

[2019-12-04 06:06] dependabot-preview[bot] opened #240 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/modulargaming/update-logs/16803725).

[2019-12-04 06:06] #239 closed, assigned to nobody

[2019-12-04 06:27] dependabot-preview[bot] opened #241 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/modulargaming/update-logs/16828119).

[2019-12-04 06:27] #240 closed, assigned to nobody

[2019-12-09 06:34] dependabot-preview[bot] opened #242 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/modulargaming/update-logs/17201090).

[2019-12-09 06:34] #241 closed, assigned to nobody

[2019-12-10 06:24] dependabot-preview[bot] opened #243 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/modulargaming/update-logs/17322351).

[2019-12-10 06:24] #242 closed, assigned to nobody

[2019-12-13 06:06] #243 closed, assigned to nobody

[2019-12-13 06:06] dependabot-preview[bot] opened #244 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/modulargaming/update-logs/17653357).

[2019-12-16 06:34] dependabot-preview[bot] opened #245 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/modulargaming/update-logs/17816537).

[2019-12-16 06:34] #244 closed, assigned to nobody

[2019-12-17 06:06] #245 closed, assigned to nobody

[2019-12-17 06:06] dependabot-preview[bot] opened #246 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/modulargaming/update-logs/17938952).

[2019-12-18 06:14] #246 closed, assigned to nobody

[2019-12-18 06:14] dependabot-preview[bot] opened #247 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/modulargaming/update-logs/18058254).

[2019-12-20 06:06] dependabot-preview[bot] opened #248 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/modulargaming/update-logs/18309837).

[2019-12-20 06:06] #247 closed, assigned to nobody

[2019-12-24 05:54] #248 closed, assigned to nobody

[2019-12-24 05:54] dependabot-preview[bot] opened #249 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/modulargaming/update-logs/18585577).

[2020-01-07 05:54] dependabot-preview[bot] opened #250 "Dependabot can't resolve your PHP dependency files"
Dependabot can't resolve your PHP dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/modulargaming/update-logs/19698683).